.edit-profile{
    background-color: #f7f7f7;
    padding-bottom: 35px;
    padding-top: 35px;
    .heading-title{
        color: #202020;
        font-size: 40px;
        @include font-Montserrat-Semibold;
        line-height: 50px;
        margin-bottom: 35px;
    }
    .profile-edit-card{
        background-color: white;
        border: 1px solid rgb(229, 229, 229);
        margin-bottom: 30px;
        padding: 30px;
        @media (max-width: 767px){
            padding: 30px 15px;
        }
        .profile-edit-steps{
            margin-bottom: 60px;
            margin-left: auto;
            margin-right: auto;
            max-width: 400px;
            position: relative;
            @media (max-width: 575px){
                margin-bottom: 30px;
            }
            &.wide{
                max-width: 100%;
                @media (min-width: 575px){
                    max-width: 80%;
                }
            }
            &:before{
                background-color: #b9b9b9;
                content: '';
                height: 2px;
                left: 5px;
                position: absolute;
                top: 19px;
                width: calc(100% - 10px);
            }
            .profile-edit-step-item{
                align-items: center;
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 1;
                @media (max-width: 575px){
                    flex-basis: 0;
                    flex-grow: 1;
                    flex-shrink: 0;
                }
                .step{
                    align-items: center;
                    background-color: white;
                    border: 2px solid #b9b9b9;
                    border-radius: 50%;
                    color: #b9b9b9;
                    display: inline-flex;
                    flex-direction: row;
                    font-size: 15px;
                    @include font-Montserrat-Semibold;
                    height: 40px;
                    justify-content: center;
                    padding: 10px;
                    position: relative;
                    width: 40px;
                    &:before{
                        background-color: transparent;
                        border: 6px solid white;
                        border-radius: 50%;
                        content: '';
                        height: 52px;
                        left: -8px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 52px;
                    }
                }
                .text{
                    color: #b9b9b9;
                    display: block;
                    font-size: 17px;
                    @include font-Montserrat-Semibold;
                    left: 50%;
                    line-height: 1.5;
                    margin-top: 10px;
                    position: absolute;
                    text-align: center;
                    top: 100%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                    @media (max-width: 767px){
                        font-size: 12px;
                    }
                    @media (max-width: 575px){
                        position: static;
                        transform: translateX(0);
                        white-space: normal;
                    }
                }
                &:last-child{
                    align-items: flex-end;
                    .text{
                        text-align: right;
                    }
                }
                &:first-child{
                    align-items: flex-start;
                    .text{
                        text-align: left;
                    }
                }
                &.active{
                    .step{
                        border-color: #ff0707;
                        color: #ff0707;
                    }
                    .text{
                        color: #ff0707;
                    }
                }
            }
        }
        .edit-profile-image{
            margin-bottom: 110px;
            position: relative;
            width: 100%;
            .cover-image-label{
                align-items: center;
                background-color: #bfbfbf;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                height: 280px;
                justify-content: center;
                margin-bottom: 0;
                padding: 20px 15px;
                width: 100%;
                .icontext{
                    span{
                        color: white;
                        font-size: 17px;
                        @include font-Montserrat-Semibold;
                        &:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                }
            }
            .profile-image{
                background-color: #bfbfbf;
                border-radius: 50%;
                bottom: -60px;
                height: 120px;
                left: 30px;
                margin-bottom: 0;
                padding: 20px;
                position: absolute;
                width: 120px;
                .pen-icon{
                    left: calc(50% - (33px / 2));
                    position: absolute;
                    top: calc(50% - (33px / 2));
                }
            }
        }
        .seller-profile-image{
            margin-bottom: 40px;
            .profile-image{
                background-color: #bfbfbf;
                border-radius: 50%;
                cursor: pointer;
                height: 120px;
                margin-bottom: 0;
                margin-right: 20px;
                padding: 20px;
                position: relative;
                width: 120px;
                .pen-icon{
                    left: calc(50% - (33px / 2));
                    position: absolute;
                    top: calc(50% - (33px / 2));
                }
            }
            span{
                color: #424242;
                font-size: 14px;
                @include font-Montserrat-Regular;
                line-height: 24px;
                text-transform: uppercase;
            }
        }
        .profile-verifications{
            border-top: 1px solid #e5e5e5;
            margin-left: -30px;
            margin-right: -30px;
            padding-top: 25px;
            @media (max-width: 767px){
                margin-left: -15px;
                margin-right: -15px;
            }
            .profile-verification-item{
                padding-left: 30px;
                padding-right: 30px;
                @media (max-width: 767px){
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &:not(:last-child){
                    border-bottom: 1px solid #e5e5e5;
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                }
                span{
                    color: #3a3a3a;
                    font-size: 14px;
                    @include font-Montserrat-Regular;
                    line-height: 1.5;
                    &:first-child{
                        min-width: 35px;
                    }
                    i{
                        color: #7e7e7e;
                    }
                    &.completed{
                        i{
                            color: #42bf1b;
                        }
                    }
                    &.facebook,
                    &.google,
                    &.linkedin,
                    &.email,
                    &.payment{
                        border: 1px solid #bbbbbb;
                        border-radius: 5px;
                        height: 30px;
                        justify-content: center;
                        width: 85px;
                        span{
                            color: white;
                            font-size: 13px;
                            @include font-Montserrat-Semibold;
                            &:first-child{
                                min-width: auto;
                                margin-right: 6px;
                            }
                            i{
                                color: white;
                            }
                        }
                    }
                    &.facebook{
                        background-color: #385591;
                        border-color: #385591;
                    }
                    &.google{
                        background-color: #dd4b39;
                        border-color: #dd4b39;
                    }
                    &.linkedin{
                        background-color: #007bb6;
                        border-color: #007bb6;
                    }
                    &.email{
                        span{
                            color: #545454;
                            margin: 0 !important;
                        }
                    }
                    &.payment{
                        border: none;
                        span{
                            color: #42bf1b;
                            font-size: 20px;
                            margin: 0 !important;
                            i{
                                color: #42bf1b;
                            }
                            &:last-child{
                                font-size: 13px;
                                margin-left: 10px !important;
                            }
                        }
                    }
                }
            }
        }
        .form-group{
            margin-bottom: 30px;
        }
        .control-label{
            color: #424242;
            font-size: 14px;
            @include font-Montserrat-Regular;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .form-control{
            border: 1px solid #afafaf;
            border-radius: 5px;
            box-shadow: none;
            color: #797979;
            font-size: 14px;
            @include font-Montserrat-Regular;
            height: 54px;
            padding-left: 15px;
            padding-right: 15px;
            &::-webkit-input-placeholder{
                color: #797979;
            }
            &:-webkit-input-placeholder{
                color: #797979;
            }
            &::-moz-placeholder{
                color: #797979;
            }
            &:-moz-placeholder{
                color: #797979;
            }
            &::-ms-input-placeholder{
                color: #797979;
            }
            &:-ms-input-placeholder{
                color: #797979;
            }
        }
        textarea{
            &.form-control{
                height: auto;
            }
        }
        .bootstrap-tagsinput{
            border-color: rgb(175, 175, 175);
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            padding: 12px 15px 0;
            .badge{
                align-items: center;
                background-color: rgb(232, 232, 232);
                border-radius: 5px;
                color: #797979;
                display: flex;
                flex-direction: row;
                font-size: 13px;
                font-weight: normal;
                line-height: 1;
                margin-bottom: 12px;
                margin-top: 0;
                padding: 8px;
                text-transform: capitalize;
                white-space: nowrap;
                &:not(:last-child){
                    margin-right: 10px;
                }
                span{
                    &[data-role="remove"]{
                        border-radius: 0;
                        height: 10px;
                        padding: 0;
                        &::after{
                            background-color: transparent;
                            font-size: 20px;
                            line-height: 10px;
                            padding: 0;
                            transform: rotate(0);
                            transition: all 0.3s ease-in-out 0s;
                        }
                    }
                }
                &:hover{
                    span{
                        &[data-role="remove"]{
                            &::after{
                                color: #ff0707;
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
            input{
                color: #797979;
                font-size: 13px;
                margin-bottom: 12px;
                padding: 0;
            }
        }
        .add-new{
            align-items: center;
            background-color: transparent;
            border: none;
            border-radius: 0;
            color: #ff0707;
            display: flex;
            flex-direction: row;
            font-size: 14px;
            @include font-Montserrat-Regular;
            padding: 0;
            text-transform: uppercase;
            i{
                font-size: 22px;
            }
            span{
                display: inline-block;
                line-height: 1;
                &:first-child{
                    margin-right: 10px;
                }
            }
        }
        .button{
            background-color: transparent;
            border: 2px solid transparent;
            border-radius: 5px;
            color: #202020;
            font-size: 16px;
            @include font-Poppins-Semibold;
            height: 50px;
            padding: 10px 20px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out 0s;
            width: 160px;
            @media (max-width: 424px){
                width: auto;
            }
            &:not(:last-child){
                margin-right: 12px;
            }
            &.button-white{
                background-color: white;
                border-color: #bbbbbb;
                color: #878787;
                &:hover{
                    background-color: #bbbbbb;
                    color: white;
                }
            }
            &.button-red{
                background-color: #ff0707;
                border-color: #ff0707;
                color: white;
                &:hover{
                    background-color: white;
                    color: #ff0707;
                }
            }
        }
    }
    .howitwork-card{
        background-color: white;
        border: 1px solid rgb(229, 229, 229);
        margin-bottom: 30px;
        .howitwork-card-title{
            border-bottom: 1px solid rgb(229, 229, 229);
            color: #3a3a3a;
            font-size: 25px;
            @include font-Montserrat-Semibold;
            height: 79px;
            line-height: 50px;
            padding: 10px 30px;
            @media (max-width: 767px){
                padding: 10px 15px;
            }
        }
        .howitwork-list{
            padding: 30px;
            @media (max-width: 767px){
                padding: 30px 15px;
            }
            .howitwork-list-item{
                &:not(:last-child){
                    margin-bottom: 30px;
                }
                .howitwork-list-icon{
                    flex-basis: 42px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    max-width: 42px;
                }
                .howitwork-list-content{
                    flex-basis: calc(100% - 42px);
                    flex-grow: 0;
                    flex-shrink: 0;
                    max-width: calc(100% - 42px);
                    padding-left: 15px;
                    h3{
                        color: #252525;
                        font-size: 22px;
                        @include font-Montserrat-Semibold;
                        line-height: 42px;
                        margin-bottom: 10px;
                    }
                    p{
                        color: #5c5c5c;
                        font-size: 14px;
                        @include font-Montserrat-Regular;
                        line-height: 26px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}