/*=========================
  Offcanvs-menu START
===========================*/
.ofcanvas-menu {
	position: fixed;
	right: -310px;
	background: #4E4F4F;
	top: 0;
	height: 100%;
	z-index: 999;
	width: 310px;
	transition: .4s ease;
	padding-bottom: 30px;
	&.active {
		right: 0;
		overflow-y: auto;
    }
    .close-icon {
        position: absolute;
        right: 25px;
        top: 25px;
        color: #FFFFFF;
        font-size: 30px;
        cursor: pointer;
        z-index: 9999;
    }
    .profile-inner {
        padding: 50px 0;
        position: relative;
        border-bottom: 1px solid #5D5D5D;
        margin-top: 40px;
        img {
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        h4 {
            margin-bottom: 0;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            padding-left: 40px;
            font-family: 'Poppins', sans-serif;
            span {
                font-size: 18px;
                font-weight: 500;
                display: block;
                margin-top: 3px;
            }
        }
    }
    .canvs-menu {
        margin-top: 15px;
        ul {
            li {
                display: block;
                a {
                    font-family: 'Poppins', sans-serif;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    position: relative;
                    padding: 15px 30px;
                    display: block;
                    -webkit-transition: .2s ease;
                    -o-transition: .2s ease;
                    transition: .2s ease;
                    i {
                        padding-right: 10px;
					}
					img{
						padding-right: 10px;
					}
                    &:hover {
                        background: #D82B2B;
                    }
                }
                &.active {
                    a {
                        background: #D82B2B;
                    }
                }
            }
        }
	}
	&.pre-login{
		padding-top: 56px;
		overflow-y: auto;
		.close-icon{
			line-height: 1;
		}
		.canvs-menu{
			margin-top: 0;
			ul{
				li{
					padding-left: 30px;
					padding-right: 30px;
					a{
						padding-left: 0;
						padding-right: 0;
					}
					.menu-action{
						margin-bottom: 20px;
						width: calc(50% - 10px);
						&:first-child{
							margin-right: 20px;
						}
						.nice-select{
							width: 100%;
							.list{
								width: 100%;
							}
						}
					}
					.button{
						background-color: white;
						border-radius: 5px;
						color: #ff0707;
						@include font-Montserrat-Semibold;
						padding-left: 15px;
						padding-right: 15px;
						text-align: center;
						text-transform: uppercase;
						transition: all 0.3s ease-in-out 0s;
						width: 100%;
						&.login-button{
							background-color: white;
							color: #ff0707;
						}
						&.join-button{
							background-color: #ff0707;
							color: white;
						}
						&:hover{
							&.login-button{
								background-color: #ff0707;
								color: white;
							}
							&.join-button{
								background-color: white;
								color: #ff0707;
							}
						}
					}
				}
			}
		}
	}
}
.overlay-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	top: 0;
	left: 0;
	z-index: 88;
	opacity: 0;
	cursor: pointer;
	visibility: hidden;
	&.active {
		background-color: rgba(0, 0, 0, 0.35);
		opacity: 1;
		visibility: visible;
		&.bg-transparent{
			background-color: transparent;
		}
	}
}
/*=========================
  Offcanvs-menu end
===========================*/
/*=========================
  HeaderTOP START
===========================*/
.home-header {
	position: absolute;
	width: 100%;
	left: 0;
	border-bottom: 1px solid #494949;
	padding: 20px 0;
	.header-menu {
		border-top: 1px solid #E7E7E7;
		border-bottom: 1px solid #E7E7E7;
	}
	.logo-1 {
		display: none;
	}
	.menu-inner {
		display: inline-block;
		position: relative;
		@media (max-width: 1023px){
			display: none;
		}
		&:after {
			position: absolute;
			content: "";
			background: #fff;
			width: 2px;
			height: 16px;
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
		}
		ul {
			li {
				display: inline-block;
				a {
					color: #fff;
					font-size: 17px;
					font-weight: 600;
					display: block;
					padding-right: 20px;
				}
			}
		}
	}
	.mainmenu {
		ul {
			li {
				display: block;
				width: 16.666%;
				float: left;
				text-align: center;
				transition: .3s ease;
				a {
					color: #fff;
					font-weight: 400;
					padding: 20px 0;
					display: block;
					font-size: 16px;
				}
				&:hover {
					a {
						color: #D72929;
					}
				}
			}
		}
	}
	.Login-button {
		margin-left: 15px;
		@media (max-width: 1023px){
			display: none;
		}
		@media (max-width: 767px){
			margin-left: 0;
		}
		a {
			color: white;
			font-size: 14px;
			font-weight: 400;
			padding: 10px;
			border: 1px solid #686868;
			border-radius: 5px;
			width: 95px;
			display: inline-block;
			text-align: center;
			transition: .4s;
			&:last-child {
				color: #fff;
				background: #FF0707;
				border-color: #FF0707;
			}
			&:not(:last-child){
				margin-right: 10px;
			}
			&:hover {
				color: #fff;
				background: #FF0707;
				border-color: #FF0707;
			}
		}
	}
	.menubar{
		position: relative;
		cursor: pointer;
		display: inline-block;
		margin-left: 20px;
		@media (min-width: 1024px){
			display: none;
		}
		.image{
			margin-right: 15px;
			img{
				&:first-child{
					display: block;
				}
				&:last-child{
					display: none;
				}
			}
		}
		.icon{
			span {
				display: block;
				background: white;
				width: 25px;
				height: 2px;
				margin: 5px 0;
			}
		}
	}
	.nice-select {
		float: inherit;
		font-family: 'Montserrat', sans-serif;
		border: 0;
		padding-right: 20px;
		background: transparent;
		&:after {
			border-bottom: 2px solid #fff;
			border-right: 2px solid #fff;
			height: 6px;
			right: 8px;
			width: 6px;
		}
		.option {
			cursor: pointer;
			font-weight: 400;
			line-height: 40px;
			list-style: none;
			min-height: 40px;
			outline: none;
			padding-left: 18px;
			padding-right: 29px;
			text-align: left;
			transition: all 0.2s;
			display: block;
		}
		span {
			&.current {
				font-size: 14px;
				font-weight: 600;
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
	.language-inner,
	.usd-inner{
		@media (max-width: 1023px){
			display: none;
		}
	}
	&.sticky {
		position: fixed;
		z-index: 87;
		animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
		width: 100%;
		top: 0;
		left: 0;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
		background: #fff;
		border-bottom: none;
		.Login-button {
			a {
				color: #000;
				&:last-child {
					color: #fff;
				}
			}
		}
		.nice-select {
			&:after {
				border-bottom: 2px solid #000;
				border-right: 2px solid #000;
			}
			span {
				&.current {
					color: #000;
				}
			}
		}
		.logo-1 {
			display: block;
			margin-top: -6px;
		}
		.home-logo {
			display: none;
		}
		.menu-inner {
			ul {
				li {
					a {
						color: #000;
					}
				}
			}
			&:after {
				background: #000;
			}
		}
		.menubar{
			.image{
				img{
					&:first-child{
						display: none;
					}
					&:last-child{
						display: block;
					}
				}
			}
			.icon{
				span{
					background-color: #6e6e6e;
				}
			}
		}
	}
}
.header-top {
	border-bottom: 1px solid #E7E7E7;
	padding: 20px 0;
	position: relative;
	.container{
		@media (max-width: 1199px){
			max-width: 100%;
		}
	}
	.header-search-box {
		position: relative;
		input {
			width: 100%;
			border: 1px solid #D9D9D9;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 0;
			height: 40px;
			padding: 12px 1rem;
			transition: 0.3s ease-in-out 0s;
			&:focus {
				border: 1px solid #B73434;
			}
		}
		button {
			background: #FF0000;
			border: 0;
			color: #fff;
			border-radius: 0 5px 5px 0px;
			width: 90px;
			cursor: pointer;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1;
            padding: 10px;
			transition: 0.4s ease-in-out 0s;
			&:hover {
				background-color: #ff0707;
			}
		}
	}
	.nice-select {
		float: inherit;
		font-family: 'Montserrat', sans-serif;
		border: 0;
		padding-right: 20px;
		&:after {
			border-bottom: 2px solid #414141;
			border-right: 2px solid #414141;
			height: 6px;
			right: 8px;
			width: 6px;
		}
		.option {
			cursor: pointer;
			font-weight: 400;
			line-height: 40px;
			list-style: none;
			min-height: 40px;
			outline: none;
			padding-left: 18px;
			padding-right: 29px;
			text-align: left;
			transition: all 0.2s;
			display: block;
		}
		span {
			&.current {
				font-size: 14px;
				font-weight: 600;
				color: #2B2B2B;
				text-transform: uppercase;
			}
		}
	}
	.message-inner {
		padding-left: 20px;
		@media (max-width: 991px){
			padding-left: 0;
		}
	}
	.menu-inner {
        display: inline-block;
		position: relative;
		@media (max-width: 1199px){
			display: none;
		}
		&:after {
			position: absolute;
			content: "";
			background: #2B2B2B;
			width: 2px;
			height: 16px;
			left: 100%;
			top: 50%;
            transform: translateY(-50%);
            z-index: 1;
		}
		ul {
			align-items: center;
			display: flex;
			li {
				display: inline-block;
				a {
					color: #2B2B2B;
					font-size: 17px;
					font-weight: 600;
					display: block;
					padding-right: 20px;
					@media (min-width: 1024px) and (max-width: 1199px){
						font-size: 15px;
					}
				}
			}
		}
	}
	.menubar {
		position: relative;
		cursor: pointer;
		display: inline-block;
		margin-left: 20px;
		.image{
			margin-right: 15px;
		}
		.icon{
			span {
				display: block;
				background: #6E6E6E;
				width: 25px;
				height: 2px;
				margin: 5px 0;
			}
		}
		&.menubar-2 {
			.icon{
				span{
					background-color: white;
				}
			}
		}
	}
	.Login-button {
		display: flex;
		margin-left: 15px;
		a {
			color: black;
			font-size: 14px;
			font-weight: 400;
			padding: 10px;
			border: 1px solid #686868;
			border-radius: 5px;
			width: 95px;
			display: inline-block;
			text-align: center;
			transition: .4s;
			&:last-child {
				color: #fff;
				background: #FF0707;
				border-color: #FF0707;
			}
			&:not(:last-child){
				margin-right: 10px;
			}
			&:hover {
				color: #fff;
				background: #FF0707;
				border-color: #FF0707;
			}
		}
	}
	&.sticky {
		position: fixed;
		z-index: 87;
		-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
		animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
		width: 100%;
		top: 0;
		left: 0;
		-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
		background: #fff;
	}
	&.dashboard-page {
		background: #000;
		&.sticky {
			position: fixed;
			z-index: 87;
			-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
			animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
			width: 100%;
			top: 0;
			left: 0;
			-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			border-bottom: none;
			background: #000;
		}
		.menu-inner {
			ul {
				li {
					a {
						color: #fff;
					}
				}
			}
		}
		.nice-select {
			background: transparent;
			span {
				&.current {
					font-size: 14px;
					font-weight: 600;
					color: #fff;
					text-transform: uppercase;
				}
			}
			&::after {
				border-bottom: 2px solid #fff;
				border-right: 2px solid #fff;
			}
		}
	}
	&.post-gig{
		@media (max-width: 767px){
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
		.logo{
			img{
				@media (max-width: 767px){
					max-width: 200px !important;
				}
			}
		}
		.post-gig-step{
			@media (max-width: 767px){
				margin-top: 20px;
			}
			.post-gig-step-item{
				&:not(:last-child){
					margin-right: 22px;
					@media (max-width: 767px){
						margin-right: 15px;
					}
					@media (max-width: 374px){
						margin-right: 10px;
					}
				}
				i{
					color: #929292;
					font-size: 20px;
				}
				span{
					color: #b9b9b9;
					@include font-Montserrat-Semibold;
					font-size: 17px;
					line-height: 26px;
					&:not(:last-child){
						margin-right: 10px;
					}
					&.icon{
						align-items: center;
						background-color: #b9b9b9;
						border-radius: 50%;
						color: white;
						display: flex;
						flex-direction: row;
						font-size: 15px;
						height: 26px;
						justify-content: center;
						width: 26px;
					}
				}
				&.active{
					span{
						color: #ff0000;
						&.icon{
							background-color: #ff0000;
							color: white;
						}
					}
				}
			}
		}
	}
}
.header-menu {
	border-bottom: 1px solid #E7E7E7;
	@media (max-width: 1023px){
		border-bottom: none;
	}
	@media (max-width: 991px){
		display: none;
	}
	.container{
		@media (max-width: 1200px){
			max-width: 100%;
		}
	}
	.mainmenu {
		ul {
			display: flex;
			flex-wrap: wrap;
			@media (max-width: 1023px){
				margin-left: -15px;
				margin-right: -15px;
			}
			li {
				border-bottom: 1px solid #E7E7E7;
				flex-basis: 0;
				flex-grow: 1;
				text-align: center;
				@media (min-width: 1024px){
					border-bottom: none;
				}
				@media (min-width: 768px) and (max-width: 1023px){
					flex-basis: 33.3333%;
					flex-grow: 0;
					flex-shrink: 0;
					max-width: 33.3333%;
				}
				@media (min-width: 576px) and (max-width: 767px){
					flex-basis: 50%;
					flex-grow: 0;
					flex-shrink: 0;
					max-width: 50%;
				}
				@media (max-width: 575px){
					flex-basis: 100%;
					flex-grow: 0;
					flex-shrink: 0;
					max-width: 100%;
					text-align: left;
				}
				a {
					color: #3D3D3D;
					font-weight: 400;
					padding: 20px 0;
					display: block;
					font-size: 16px;
					transition: 0.3s ease-in-out 0s;
					@media (max-width: 1199px){
						font-size: 14px;
					}
					@media (max-width: 767px){
						padding: 10px 15px;
					}
				}
				&:hover {
					a {
						color: #D72929;
					}
				}
			}
		}
	}
}
/*=========================
  HeaderTOP END
===========================*/
/*=========================
  Mesage dropdown START
===========================*/
.message-box {
	background: #fff;
	box-shadow: 0px -9px 20px #F4F4F4;
	margin-top: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 50px;
	transition: 0.5s ease-in-out 0s;
	visibility: hidden;
	z-index: 99;
	&::after {
		position: absolute;
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 15px solid #fff;
		content: "";
		right: 100px;
		top: -15px;
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
	.message-title-inner {
		overflow: hidden;
		border-bottom: 1px solid #E2E2E2;
	}
	.nav-tabs {
		.nav-item {
			margin-bottom: -1px;
			width: 50%;
			text-align: center;
			border-bottom: 1px solid #F6F6F6;
			.nav-link {
				border: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				display: block;
				padding: 18px;
				border-right: 1px solid #F6F6F6 !important;
				color: #6A6A6A;
				&.active {
					color: #FF7272;
				}
				&:hover {
					color: #FF7272;
				}
			}
			&.show {
				.nav-link {
					color: #FF7272;
				}
			}
			i {
				font-size: 20px;
				transform: translateY(2px);
				margin-right: 2px;
			}
		}
	}
	.mesagee-single-item {
		border-bottom: 1px solid #E2E2E2;
		position: relative;
		padding: 35px 0;
		padding-left: 110px;
		padding-right: 70px;
		&:last-child {
			border-bottom: 0;
		}
		h5 {
			margin-bottom: 0;
			font-size: 15px;
			font-weight: 400;
			span {
				font-weight: 600;
			}
		}
		p {
			font-size: 14px;
			color: #3D3D3D;
			margin-top: 4px;
			margin-bottom: 0;
			i {
				width: 15px;
				height: 15px;
				background: #AAAAAA;
				text-align: center;
				border-radius: 50%;
				color: #fff;
				line-height: 15px;
				margin-left: 4px;
				-webkit-transform: translateY(1px);
				-ms-transform: translateY(1px);
				transform: translateY(1px);
			}
		}
	}
	.notifiction-user-img {
		position: absolute;
		left: 20px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		img {
			width: 73px;
			height: 73px;
			border-radius: 50%;
		}
	}
	.notifiction-right {
		position: absolute;
		right: 20px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		img {
			width: 40px;
			height: 40px;
			border-radius: 5px;
		}
	}
	.mesagee-item-box {
		height: 512px;
	}
	.notification-setting {
		background: #F6F6F6;
		padding: 15px;
	}
	.noti-option-icon {
		button {
			background: transparent;
			border: 0;
			cursor: pointer;
			color: #626262;
			font-weight: 700;
		}
	}
	&.see-all-noti {
		color: #D72929;
		font-size: 14px;
	}
}

/*=========================
  Mesage dropdown END
===========================*/