@mixin font-Montserrat-Light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
@mixin font-Montserrat-Regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
@mixin font-Montserrat-Medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
@mixin font-Montserrat-Semibold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
@mixin font-Montserrat-Bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
@mixin font-Montserrat-Extrabold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
@mixin font-Montserrat-Black {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
@mixin font-Poppins-Light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
@mixin font-Poppins-Regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
@mixin font-Poppins-Medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
@mixin font-Poppins-Semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
@mixin font-Poppins-Bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
@mixin font-Poppins-Black {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}