.postarequest{
    background-color: #f7f7f7;
    border-top: 1px solid #e8e8e8;
    padding-bottom: 40px;
    padding-top: 55px;
    h2{
        color: #202020;
        font-size: 40px;
        @include font-Montserrat-Semibold;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .create-request{
        background-color: white;
        border: 1px solid #e5e5e5;
        margin-bottom: 30px;
        padding-bottom: 35px;
        padding-top: 35px;
        .form-group{
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            @media (max-width: 767px){
                padding-left: 15px;
                padding-right: 15px;
            }
            &:not(:last-child){
                border-bottom: 1px solid #e5e5e5;
                margin-bottom: 35px;
                padding-bottom: 35px;
            }
            .control-label{
                margin-bottom: 20px;
                span{
                    &:first-child{
                        flex-basis: 39px;
                        flex-grow: 0;
                        flex-shrink: 0;
                        max-width: 39px;
                    }
                    &:last-child{
                        color: #424242;
                        flex-basis: calc(100% - 39px);
                        flex-grow: 0;
                        flex-shrink: 0;
                        font-size: 14px;
                        @include font-Montserrat-Regular;
                        line-height: 24px;
                        max-width: calc(100% - 39px);
                        padding-left: 15px;
                        text-transform: uppercase;
                    }
                }
            }
            .bottom-label{
				.attach-file{
					label{
						cursor: pointer;
						margin-bottom: 0;
						margin-right: 12px;
						.file{
							border: 1px solid #afafaf;
							border-radius: 5px;
							padding: 10px;
							span{
								color: #3a3a3a;
								font-size: 14px;
								font-weight: 400;
								&:first-child{
									margin-right: 7px;
								}
							}
						}
					}
				}
				.max-size,
				.chars-max{
					color: #797979;
					font-size: 14px;
					font-weight: 400;
				}
			}
            .form-control{
                border: 1px solid #afafaf;
                border-radius: 5px;
                box-shadow: none;
                color: #797979;
                font-size: 14px;
                @include font-Montserrat-Regular;
                height: 54px;
                padding-left: 15px;
                padding-right: 15px;
                &::-webkit-input-placeholder{
                    color: #797979;
                }
                &:-webkit-input-placeholder{
                    color: #797979;
                }
                &::-moz-placeholder{
                    color: #797979;
                }
                &:-moz-placeholder{
                    color: #797979;
                }
                &::-ms-input-placeholder{
                    color: #797979;
                }
                &:-ms-input-placeholder{
                    color: #797979;
                }
            }
            textarea{
                &.form-control{
                    height: auto;
                }
            }
            .input-group-prepend{
                margin-right: 15px;
                min-width: 70px;
                .form-control{
                    width: 100%;
                }
			}
			.postarequest-tags{
				.bootstrap-tagsinput{
					border-color: rgb(175, 175, 175);
					border-style: solid;
					border-width: 1px;
					border-radius: 5px;
					display: flex;
					flex-wrap: wrap;
					padding: 12px 15px 0;
					.badge{
						align-items: center;
						background-color: rgb(232, 232, 232);
						border-radius: 5px;
						color: #797979;
						display: flex;
						flex-direction: row;
						font-size: 13px;
						font-weight: normal;
						line-height: 1;
						margin-bottom: 12px;
						margin-top: 0;
						padding: 8px;
						text-transform: capitalize;
						white-space: nowrap;
						&:not(:last-child){
							margin-right: 10px;
						}
						span{
							&[data-role="remove"]{
								border-radius: 0;
								height: 10px;
								padding: 0;
								&::after{
									background-color: transparent;
									font-size: 20px;
									line-height: 10px;
									padding: 0;
									transform: rotate(0);
									transition: all 0.3s ease-in-out 0s;
								}
							}
						}
						&:hover{
							span{
								&[data-role="remove"]{
									&::after{
										color: #ff0707;
										transform: rotate(180deg);
									}
								}
							}
						}
					}
					input{
						color: #797979;
						font-size: 13px;
						margin-bottom: 12px;
						padding: 0;
					}
				}
			}
            .gig-category{
                .gig-category-item{
                    flex-basis: 100%;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-bottom: 0;
                    max-width: 100%;
                    position: relative;
                    // transition: all 0.3s ease-in-out 0s;
                    @media (min-width: 576px){
                        flex-basis: calc(50% - 10px);
                        max-width: calc(50% - 10px);
                    }
                    &:nth-child(2n+1){
                        @media (min-width: 576px){
                            margin-right: 20px;
                        }
                    }
                    .gig-category-select{
                        background-color: #e8e8e8;
                        border: 3px solid #e8e8e8;
                        border-radius: 5px;
                        cursor: pointer;
                        height: 165px;
                        margin-bottom: 20px;
                        padding: 30px 15px;
                        width: 100%;
                        .icon{
                            .white-icon{
                                display: block;
                            }
                            .color-icon{
                                display: none;
                            }
                        }
                        .text{
                            color: white;
                            font-size: 18px;
                            @include font-Montserrat-Semibold;
                            line-height: 24px;
                            margin-top: 10px;
                            text-align: center;
                        }
                        &.gd{
                            background-color: #00bf8c;
                            border-color: #00bf8c;
                        }
                        &.dm{
                            background-color: #593d4b;
                            border-color: #593d4b;
                        }
                        &.pt{
                            background-color: #ff4c30;
                            border-color: #ff4c30;
                        }
                        &.ma{
                            background-color: #72959c;
                            border-color: #72959c;
                        }
                        &.wt{
                            background-color: #ffaf4f;
                            border-color: #ffaf4f;
                        }
                        &.va{
                            background-color: #0a91c9;
                            border-color: #0a91c9;
                        }
                    }
                    .gig-category-tags{
                        background-color: white;
                        display: flex;
                        flex-wrap: wrap;
                        height: 0;
                        overflow: hidden;
                        transition: all 0.3s ease-in-out 0s;
                        width: 0;
                        .gig-category-tag{
                            background-color: #e8e8e8;
                            border-radius: 5px;
                            display: inline-block;
                            color: #797979;
                            font-size: 14px;
                            line-height: 1;
                            margin-bottom: 10px;
                            padding: 10px;
                            transition: all 0.3s ease-in-out 0s;
                            white-space: nowrap;
                            &:not(:last-child){
                                margin-right: 10px;
                            }
                        }
                        &.gd{
                            .gig-category-tag{
                                &.tag-selected{
                                    background-color: #00bf8c;
                                    color: white;
                                }
                            }
                        }
                        &.dm{
                            .gig-category-tag{
                                &.tag-selected{
                                    background-color: #593d4b;
                                    color: white;
                                }
                            }
                        }
                        &.pt{                           
                            .gig-category-tag{
                                &.tag-selected{
                                    background-color: #ff4c30;
                                    color: white;
                                }
                            }
                        }
                        &.ma{
                            .gig-category-tag{
                                &.tag-selected{
                                    background-color: #72959c;
                                    color: white;
                                }
                            }
                        }
                        &.wt{
                            .gig-category-tag{
                                &.tag-selected{
                                    background-color: #ffaf4f;
                                    color: white;
                                }
                            }
                        }
                        &.va{
                            .gig-category-tag{
                                &.tag-selected{
                                    background-color: #0a91c9;
                                    color: white;
                                }
                            }
                        }
                    }
                    &:nth-child(2n+2){
                        .gig-category-tags{
                            @media (min-width: 576px){
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                    input{
                        &[type="radio"]{
                            &:checked {
                                & + .gig-category-select{
                                    background-color: white;
                                    .icon{
                                        .white-icon{
                                            display: none;
                                        }
                                        .color-icon{
                                            display: block;
                                        }
                                    }
                                    &.gd{
                                        .text{
                                            color: #00bf8c;
                                        }
                                    }
                                    &.dm{
                                        .text{
                                            color: #593d4b;
                                        }
                                    }
                                    &.pt{
                                        .text{
                                            color: #ff4c30;
                                        }
                                    }
                                    &.ma{
                                        .text{
                                            color: #72959c;
                                        }
                                    }
                                    &.wt{
                                        .text{
                                            color: #ffaf4f;
                                        }
                                    }
                                    &.va{
                                        .text{
                                            color: #0a91c9;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .backto-main{
                        display: none;
                        a{
                            color: #5c5c5c;
                            font-size: 16px;
                            font-weight: bold;
                            transition: all 0.3s ease-in-out 0s;
                            span{
                                line-height: 1;
                                &:not(:last-child){
                                    margin-right: 10px;
                                }
                                i{
                                    font-size: 24px;
                                }
                            }
                            &:hover{
                                color: #ff0707;
                            }
                        }
                    }
                    &.item-active{
                        display: flex;
                        flex-wrap: wrap;
                        flex-basis: 100%;
                        justify-content: space-between;
                        max-width: 100%;
                        margin: 0;
                        .gig-category-select{
                            flex-basis: calc(50% - 10px);
                            max-width: calc(50% - 10px);
                            @media (max-width: 1199px){
                                flex-basis: 100%;
                                max-width: 100%;
                            }
                        }
                        .gig-category-tags{
                            flex-basis: calc(50% - 10px);
                            margin-bottom: 20px;
                            height: auto;
                            max-width: calc(50% - 10px);
                            @media (max-width: 1199px){
                                flex-basis: 100%;
                                max-width: 100%;
                            }
                        }
                        .backto-main{
                            display: flex;
                        }
                    }
                    &.item-removed{
                        display: none;
                    }
                }
            }
            .deliver-time{
                .deliver-time-item{
                    background-color: white;
                    border: 1px solid #b6b6b6;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    height: 113px;
                    margin-bottom: 10px;
                    padding: 5px;
                    position: relative;
                    width: 113px;
                    &:not(:last-child){
                        margin-right: 15px;
                    }
                    .deliver-time-item-content{
                        background-color: #f7f7f7;
                        border-radius: 50%;
                        padding: 10px;
                        position: relative;
                        width: 100%;
                        .color-icon{
                            align-items: center;
                            background-color: #cccccc;
                            border: 8px solid white;
                            border-radius: 50%;
                            display: flex;
                            height: 38px;
                            justify-content: center;
                            position: absolute;
                            right: -10px;
                            top: -10px;
                            width: 38px;
                            span{
                                color: white;
                                font-size: 20px;
                                @include font-Montserrat-Bold;
                                line-height: 20px;
                                &:first-child{
                                    display: block;
                                }
                                &:last-child{
                                    display: none;
                                }
                            }
                        }
                        .time{
                            span{
                                color: #424242;
                                @include font-Montserrat-Medium;
                                line-height: 1;
                                &:first-child{
                                    font-size: 34px;
                                    line-height: 26px;
                                    margin-right: 5px;
                                }
                                &:last-child{
                                    font-size: 16px;
                                    line-height: 13px;
                                }
                            }
                        }
                    }
                    input{
                        &[type="radio"]{
                            &:checked{
                                & + .deliver-time-item-content{
                                    background-color: #ff0707;
                                    .color-icon{
                                        background-color: #ff0707;
                                        span{
											&:first-child{
												display: none;
											}
											&:last-child{
												display: block;
											}
										}
                                    }
                                    .time{
                                        span{
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &[for="days30"]{
                        .deliver-time-item-content{
                            .time{
                                span{
                                    font-size: 16px;
                                    line-height: 13px;
                                    margin-right: 0;
                                }
                                .input-number{
                                    background-color: #ff0707;
                                    border: none;
                                    color: white;
                                    display: none;
                                    font-size: 15px;
                                    font-weight: 600;
                                    height: 34px;
                                    padding: 6px 12px;
                                    width: 100%;
                                }
                            }
                        }
                        input{
                            &[type="radio"]{
                                &:checked{
                                    & + .deliver-time-item-content{
                                        .time{
                                            span{
                                                display: none;
                                            }
                                            .input-number{
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .button{
                background-color: rgb(255, 7, 7);
                border: 2px solid rgb(255, 7, 7);
                border-radius: 5px;
				color: white;
				font-size: 16px;
				font-weight: 600;
				height: 60px;
				text-transform: uppercase;
				transition: all 0.3s ease-in-out 0s;
                width: 250px;
                &:hover{
                    background-color: white;
                    color: rgb(255, 7, 7);
                }
            }
            .popup{
                background-color: #ffd3d3;
                left: 100%;
                opacity: 0;
                padding: 40px 30px 30px;
                position: absolute;
                top: -36px;
                transition: all 0.3s ease-in-out 0s;
                visibility: hidden;
                width: calc(100% + 60px);
                @media (max-width: 767px){
                    display: none;
                }
                &:before{
                    background-color: #ffd3d3;
                    content: '';
                    height: 24px;
                    left: -12px;
                    position: absolute;
                    top: 30px;
                    transform: rotate(45deg);
                    width: 24px;
                }
                img{
                    margin-bottom: 20px;
                    &.lamp-icon{
                        left: calc(50% - 25px);
                        margin-bottom: 0;
                        position: absolute;
                        top: -25px;
                    }
                }
                h4{
                    color: #202020;
                    font-size: 20px;
                    @include font-Montserrat-Semibold;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
                p{
                    color: #343434;
                    font-size: 14px;
                    @include font-Montserrat-Regular;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }
            &:hover{
                .popup{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .howitwork-card{
        background-color: white;
        border: 1px solid rgb(229, 229, 229);
        margin-bottom: 30px;
        .howitwork-card-title{
            border-bottom: 1px solid rgb(229, 229, 229);
            color: #3a3a3a;
            font-size: 25px;
            @include font-Montserrat-Semibold;
            height: 79px;
            line-height: 50px;
            padding: 10px 30px;
            @media (max-width: 767px){
                padding: 10px 15px;
            }
        }
        .howitwork-list{
            padding: 30px;
            @media (max-width: 767px){
                padding: 30px 15px;
            }
            .howitwork-list-item{
                &:not(:last-child){
                    margin-bottom: 30px;
                }
                .howitwork-list-icon{
                    flex-basis: 42px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    max-width: 42px;
                }
                .howitwork-list-content{
                    flex-basis: calc(100% - 42px);
                    flex-grow: 0;
                    flex-shrink: 0;
                    max-width: calc(100% - 42px);
                    padding-left: 15px;
                    h3{
                        color: #252525;
                        font-size: 22px;
                        @include font-Montserrat-Semibold;
                        line-height: 42px;
                        margin-bottom: 10px;
                    }
                    p{
                        color: #5c5c5c;
                        font-size: 14px;
                        @include font-Montserrat-Regular;
                        line-height: 26px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}