.checkout-bar {
	background: #f7f7f7;
	.checkout-bar-area {
		span {
			border: 2px solid #fe1111;
			color: #fe1111;
			line-height: 38px;
			border-radius: 50%;
			background: #f7f7f7;
			width: 40px;
			height: 40px;
			display: inline-block;
		}
		img {
			margin-bottom: 10px;
		}
		p {
			font-size: 17px;
			color: #f00;
			font-weight: 600;
			padding-top: 5px;
			@media (max-width: 767px){
				font-size: 10px;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		&.item {
			position: relative;
			span {
				border-color: #b9b9b9;
				color: #b9b9b9;
			}
			p {
				color: #b9b9b9;
			}
		}
	}
	.border {
		position: absolute;
		border-color: #b9b9b9 !important;
		top: 55%;
		transform: translateY(-50%);
		left: 15px;
		right: 15px;
		&::before {
			position: absolute;
			content: '';
			width: 2px;
			height: 60px;
			background: #b9b9b9;
			right: -1px;
			top: -29px;
		}
		&::after {
			position: absolute;
			content: '';
			width: 2px;
			height: 60px;
			background: #b9b9b9;
			left: -1px;
			top: -29px;
		}
	}
}
.checkout-payment-area {
	.checkout-summary {
		background-color: white;
		border: 1px solid #e5e5e5;
		.summary-header{
			border-bottom: 1px solid #e5e5e5;
			color: #3a3a3a;
			font-size: 25px;
			font-weight: 600;
			padding: 20px 35px;
			@media (max-width: 1199px){
				padding: 20px;
			}
			@media (max-width: 991px){
				padding: 20px 15px;
			}
		}
		.cummary-body{
			.summary-card{
				display: block;
				padding: 20px 35px;
				@media (max-width: 1199px){
					padding: 20px;
				}
				@media (max-width: 991px){
					padding: 20px 15px;
				}
				&:not(:last-child){
					border-bottom: 1px solid #e5e5e5;
				}
				.image{
					flex-basis: 130px;
					flex-grow: 0;
					flex-shrink: 0;
					max-width: 130px;
					margin-left: 25px;
					@media (min-width: 992px) and (max-width: 1199px){
						flex-basis: 80px;
						margin-left: 15px;
						max-width: 80px;
					}
					@media (max-width: 575px){
						flex-basis: 80px;
						margin-left: 10px;
						max-width: 80px;
					}
				}
				.text{
					p{
						color: #686868;
						font-size: 14px;
						font-weight: normal;
						line-height: 24px;
						margin-bottom: 0;
					}
				}
				h4{
					color: #252525;
					font-size: 18px;
					font-weight: 600;
					line-height: 30px;
					margin-bottom: 20px;
				}
				.list-inline{
					margin-bottom: 0;
					.list-inline-item{
						margin-bottom: 10px;
						&:not(:last-child){
							margin-left: 10px;
							margin-right: 0;
						}
						span{
							color: #3a3a3a;
							font-size: 14px;
							font-weight: normal;
							line-height: 17px;
							&:first-child{
								margin-left: 10px;
							}
						}
					}
				}
				.processing-fee,
				.delivery-time{
					span{
						color: #3a3a3a;
						font-size: 14px;
						font-weight: 400;
						&:last-child{
							color: #252525;
							font-weight: bold;
						}
					}
				}
				.totoal-fee{
					color: #252525;
					font-size: 14px;
					font-weight: bold;
				}
			}
		}
	}
	.checkout-payment {
        border: 1px solid #e5e5e5;
		padding: 40px 45px;
		@media (max-width: 767px){
        	padding: 40px 15px;
        }
		span {
			font-size: 18px;
			font-weight: 600;
			color: #252525;
		}
		.tab-button {
			margin-top: 30px;
			.nav {
				display: grid;
				grid-column-gap: 10px;
				grid-row-gap: 20px;
				grid-template-columns: repeat(2, 1fr);
				margin-bottom: 30px;
				@media (min-width: 768px){
					grid-template-columns: repeat(4, 1fr);
					grid-column-gap: 20px;
				}
				li {
					padding: 0;
					a {
						padding: 20px 10px;
						border: 2px solid #afafaf !important;
						color: #2d2d2d;
						transition: all linear 0.3s;
						p {
							font-size: 14px;
							font-weight: 500;
							color: #2d2d2d;
							margin-bottom: 0;
							margin-top: 10px;
						}
						&.active {
							background-color: transparent;
							color: #2d2d2d;
							border: 2px solid #ff0000 !important;
						}
					}
				}
			}
		}
		.checkout-payment-area {
			padding: 25px 0;
			background: #f7f7f7;
			.payment-thumb {
				margin-right: 28px;
				@media (max-width: 767px){
					margin: 0;
					padding: 0 10px;
				}
				img {
					width: 100%;
				}
			}
			.payment-thumb-2 {
				margin-right: 28px;
				@media (max-width: 767px){
					margin: 0;
					padding: 0 10px;
				}
			}
			.checkout-payment-content {
				padding-left: 24px;
				padding-top: 18px;
				@media (max-width: 767px){
					padding-left: 10px;
					padding-right: 10px;
				}
				.title {
					font-size: 18px;
					color: #252525;
				}
				p {
					font-size: 14px;
				}
			}
		}
		.gigs-payment {
			padding-left: 28px;
			.radio_titme {
				li {
					input[type="radio"] {
                        display: none;
						& + label {
							font-size: 14px;
							text-transform: uppercase;
							span {
								display: inline-block;
								width: 20px;
								height: 20px;
								margin: -1px 0 0 15px;
								vertical-align: middle;
								cursor: pointer;
								-moz-border-radius: 50%;
								border-radius: 50%;
								border: 1px solid #bfbfbf;
								position: relative;
								-webkit-transition: background-color 0.2s linear;
								-o-transition: background-color 0.2s linear;
								-moz-transition: background-color 0.2s linear;
								transition: background-color 0.2s linear;
								&::before {
									background: #ff2b2b;
									border-radius: 100%;
									content: "";
									position: absolute;
									transform: scale(0);
									transition: 0.2s;
								}
							}
						}
					}
					input[type="radio"]:checked {
						& + label {
							color: #ff0707;
							span {
                                border-color: #ff2b2b;
                                &:before{
                                    transform: scale(1);
                                }
							}
						}
					}
					&.pt-30 {
						border-top: 1px solid #d9d9d9;
						padding: 30px 0 20px;
					}
				}
				.input-box {
					span {
						text-transform: uppercase;
						font-size: 14px;
						color: #424242;
						font-weight: 400;
					}
					input {
						width: 100%;
						border-radius: 5px;
						padding: 12px 1rem;
						border: 1px solid #afafaf;
						margin-top: 5px;
					}
					.nice-select {
						border-color: #afafaf;
						height: auto;
						line-height: 60px;
						width: 100%;
						margin-top: 5px;
						font-size: 14px;
						text-transform: capitalize;
					}
				}
			}
			.radio_style2 {
				li {
					input[type="radio"] {
						& + label {
							span {
								&::before {
									height: 12px;
									left: 3px;
									top: 3px;
									width: 12px;
								}
							}
							img {
								padding-left: 24px;
							}
						}
					}
				}
			}
			.input-check-area {
				margin-top: 26px;
				label {
					color: #333;
					font-size: 18px;
					margin-bottom: 12px;
					cursor: pointer;
					font-weight: 400;
				}
				input[type="checkbox"] {
					display: none;
					& + label {
						font-size: 14px;
						color: #3a3a3a;
						span {
							display: inline-block;
							width: 20px;
							height: 20px;
							margin: -1px 0 0 15px;
							vertical-align: middle;
							cursor: pointer;
							-moz-border-radius: 50%;
							border-radius: 50%;
							border: 1px solid #afafaf;
							position: relative;
							-webkit-transition: background-color 0.2s linear;
							-o-transition: background-color 0.2s linear;
							-moz-transition: background-color 0.2s linear;
							transition: background-color 0.2s linear;
							border-radius: 3px;
							&:before {
								color: #000;
								content: "\f00c";
								font-family: "Font Awesome 5 Pro";
								font-size: 11px;
								position: absolute;
								text-align: center;
								left: 3px;
								top: 1px;
								-webkit-transform: scale(0);
								-moz-transform: scale(0);
								-ms-transform: scale(0);
								-o-transform: scale(0);
								transform: scale(0);
								-webkit-transition: 0.2s;
								-moz-transition: 0.2s;
								-ms-transition: 0.2s;
								-o-transition: 0.2s;
								transition: 0.2s;
							}
							&::before {
								color: #2079ff;
							}
						}
						a {
							display: inline-block;
							color: #ff0707;
							text-decoration: underline;
						}
					}
				}
				input[type="checkbox"]:checked {
					& + label {
						span {
							background: #2079ff;
							border-color: #afafaf;
							background: transparent;
							&:before {
								-webkit-transform: scale(1);
								-moz-transform: scale(1);
								-ms-transform: scale(1);
								-o-transform: scale(1);
								transform: scale(1);
								color: #383838;
							}
						}
					}
				}
				button {
					border: 1px solid #ff0707;
					background: #ff0707;
					color: #fff;
					text-transform: uppercase;
					padding: 0 50px;
					line-height: 50px;
					border-radius: 6px;
					font-weight: 600;
					margin-bottom: 30px;
					cursor: pointer;
					transition: .4s;
					&:hover {
						opacity: .8;
					}
				}
			}
		}
	}
	.checkout-requirement-area {
		border: 1px solid #e5e5e5;
		.checkout-requirement-title {
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 13px;
			margin-bottom: 25px;
			.title {
				font-size: 25px;
				font-weight: 600;
				color: #3a3a3a;
				padding-right: 45px;
				padding-top: 23px;
			}
		}
		.checkout-requirement-content-2 {
			margin-left: 45px;
			margin-right: 45px;
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 30px;
			span {
				font-size: 14px;
				text-transform: uppercase;
				color: #424242;
			}
			p {
				font-size: 14px;
				line-height: 26px;
				padding-top: 15px;
			}
			.checkout-requirement-textarea {
				span {
					font-size: 14px;
					text-transform: uppercase;
					color: #424242;
					padding-bottom: 20px;
				}
				p {
					font-size: 14px;
					color: #424242;
					padding-top: 15px;
					padding-bottom: 5px;
				}
				textarea {
					height: 102px;
					width: 100%;
					border-radius: 6px;
					border: 1px solid #afafaf;
					padding: 14px 17px;
					resize: none;
					&::placeholder {
						font-size: 14px;
					}
				}
				.clearfix {
					margin-top: 15px;
					margin-bottom: 45px;
					button {
						background-color: transparent;
						border: 1px solid #afafaf;
						border-radius: 6px;
						padding: 0;
						line-height: 40px;
						padding: 0 10px;
						cursor: pointer;
						font-size: 14px;
						color: #3a3a3a;
						i {
							padding-right: 7px;
						}
					}
					span {
						font-size: 14px;
						color: #797979;
						padding-left: 10px;
					}
					p {
						font-size: 14px;
						color: #797979;
					}
				}
			}
		}
		.checkout-requirement-content {
			margin-left: 45px;
			margin-right: 45px;
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 30px;
			span {
				font-size: 18px;
				font-weight: 600;
				color: #3a3a3a;
			}
			p {
				font-size: 14px;
				color: #424242;
				text-transform: uppercase;
				padding-top: 25px;
			}
			.nice-select {
				float: none;
				display: block;
				width: 100%;
				height: auto;
				line-height: 60px;
				border-color: #afafaf;
				span {
					font-size: 14px;
					font-weight: 400;
					color: #797979;
					text-transform: capitalize;
				}
				.list {
					width: 100%;
				}
				&::after {
					height: 8px;
					right: 30px;
					width: 8px;
				}
			}
		}
		.checkout-requirement-content-3 {
			margin-left: 45px;
			margin-right: 45px;
			padding-top: 40px;
			span {
				font-size: 14px;
				text-transform: uppercase;
				color: #424242;
			}
			p {
				font-size: 14px;
				line-height: 26px;
				color: #5c5c5c;
				padding-top: 15px;
				padding-bottom: 10px;
			}
			button {
				border: 1px solid #ff0707;
				background: #ff0707;
				color: #fff;
				text-transform: uppercase;
				padding: 0 50px;
				line-height: 50px;
				border-radius: 6px;
				font-weight: 600;
				margin-bottom: 50px;
				cursor: pointer;
				transition: .4s;
				&:hover {
					opacity: .8;
				}
			}
		}
	}
}