.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: bolder;
    color: #3a3a3a;
    font-family: 'Hacen Saudi Arabia', sans-serif;
}

body {
    color: #383838;
    font-weight: normal;
    font-family: 'Hacen Saudi Arabia', sans-serif;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
}

[role="button"]{
    cursor: pointer;
}

p {
    line-height: 1.7;

}

.selector-for-some-widget {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    max-width: 190px;
    img {
        @media (max-width: 1023px){
            //max-width: 190px;
        }
    }
}

.top-logo {
	width: 100px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
.En-top-logo {
	width: 200px;
	margin: 0 auto;
}

.home-content .container {
    max-width: 1170px;
}

.all-content {
    transition: 0.4s ease-in-out 0s;
    &.active{
        overflow: hidden;
        @media (min-width: 768px){
            margin-left: 0;
        }
    }
}
.home-content{
    transition: 0.4s ease-in-out 0s;
    &.active{
        overflow: hidden;
        @media (min-width: 768px){
            margin-left: 0;
        }
    }
}
/*Padding top*/
.padding-top {
    padding-top: 60px;
    @media (min-width: 576px){
        padding-bottom: 75px;
    }
}

/*padding bottom*/
.padding-bottom {
    padding-bottom: 60px;
    @media (min-width: 576px){
        padding-bottom: 75px;
    }
}
.bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.mb-30-none {
    margin-bottom: -30px;
}
.section-title h2 {
    font-size: 25px;
    margin-bottom: 25px;
}

.ddashborad {
	background: #F7F7F7;
}
.dash-chart {
    margin-bottom: 30px;
}
.container{
    position: relative;
    @media (max-width: 1199px){
        max-width: 100%;
    }
}
/*=========================================*/
.bg-gray{
	background-color: #f5f5f5;
}
.bg-white{
	background-color: white;
}

.bg_cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.nice-select{
	padding-left: 30px;
	padding-right: 18px;
	text-align: right !important;
    &:after{
        left: 12px;
        right: auto;
    }
    .list{
        width: 100%;
    }
    .option{
		padding-left: 18px;
		padding-right: 18px;
        text-align: right;
    }
}
/* Preloader */
.proloader{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .loader{
        animation: load5 1.1s infinite ease;
        border-radius: 50%;
        font-size: 25px;
        height: 10px;
        position: relative;
        text-indent: -9999em;
        transform: translateZ(0);
        width: 10px;
        img{
            left: calc(50% - 40px);
            max-width: 80px;
            position: absolute;
            top: calc(50% - 40px);
            width: 80px;
        }
    }
}
@keyframes load5 {
	0%,
	100% {
		box-shadow: 0 -65px 0 0 #000000,
			25px -58px 0 0 #220000,
			45px -45px 0 0 #720000,
			58px -24px 0 0 #A30000,
			63px 0 0 0 #CC0000,
			57px 24px 0 0 #FF0000,
			44px 44px 0 0 #FF3333,
			25px 57px 0 0 #FF5C5C,
			0 63px 0 0 #FF7D7D,
			-24px 58px 0 0 #FF9797,
			-45px 45px 0 0 #FFACAC,
			-58px 24px 0 0 #FFBDBD,
			-65px 0 0 0 #FFCACA,
			-58px -24px 0 0 #FFD5D5,
			-45px -45px 0 0 #FFDDDD,
			-25px -58px 0 0 white;
	}
	6.25% {
		box-shadow: 0 -65px 0 0 white,
			25px -58px 0 0 #000000,
			45px -45px 0 0 #220000,
			58px -24px 0 0 #720000,
			63px 0 0 0 #A30000,
			57px 24px 0 0 #CC0000,
			44px 44px 0 0 #FF0000,
			25px 57px 0 0 #FF3333,
			0 63px 0 0 #FF5C5C,
			-24px 58px 0 0 #FF7D7D,
			-45px 45px 0 0 #FF9797,
			-58px 24px 0 0 #FFACAC,
			-65px 0 0 0 #FFBDBD,
			-58px -24px 0 0 #FFCACA,
			-45px -45px 0 0 #FFD5D5,
			-25px -58px 0 0 #FFDDDD;
	}
	12.5% {
		box-shadow: 0 -65px 0 0 #FFDDDD,
			25px -58px 0 0 white,
			45px -45px 0 0 #000000,
			58px -24px 0 0 #220000,
			63px 0 0 0 #720000,
			57px 24px 0 0 #A30000,
			44px 44px 0 0 #CC0000,
			25px 57px 0 0 #FF0000,
			0 63px 0 0 #FF3333,
			-24px 58px 0 0 #FF5C5C,
			-45px 45px 0 0 #FF7D7D,
			-58px 24px 0 0 #FF9797,
			-65px 0 0 0 #FFACAC,
			-58px -24px 0 0 #FFBDBD,
			-45px -45px 0 0 #FFCACA,
			-25px -58px 0 0 #FFD5D5;
	}
	18.75% {
		box-shadow: 0 -65px 0 0 #FFD5D5,
			25px -58px 0 0 #FFDDDD,
			45px -45px 0 0 white,
			58px -24px 0 0 #000000,
			63px 0 0 0 #220000,
			57px 24px 0 0 #720000,
			44px 44px 0 0 #A30000,
			25px 57px 0 0 #CC0000,
			0 63px 0 0 #FF0000,
			-24px 58px 0 0 #FF3333,
			-45px 45px 0 0 #FF5C5C,
			-58px 24px 0 0 #FF7D7D,
			-65px 0 0 0 #FF9797,
			-58px -24px 0 0 #FFACAC,
			-45px -45px 0 0 #FFBDBD,
			-25px -58px 0 0 #FFCACA;
	}
	25% {
		box-shadow: 0 -65px 0 0 #FFCACA,
			25px -58px 0 0 #FFD5D5,
			45px -45px 0 0 #FFDDDD,
			58px -24px 0 0 white,
			63px 0 0 0 #000000,
			57px 24px 0 0 #220000,
			44px 44px 0 0 #720000,
			25px 57px 0 0 #A30000,
			0 63px 0 0 #CC0000,
			-24px 58px 0 0 #FF0000,
			-45px 45px 0 0 #FF3333,
			-58px 24px 0 0 #FF5C5C,
			-65px 0 0 0 #FF7D7D,
			-58px -24px 0 0 #FF9797,
			-45px -45px 0 0 #FFACAC,
			-25px -58px 0 0 #FFBDBD;
	}
	31.25% {
		box-shadow: 0 -65px 0 0 #FFBDBD,
			25px -58px 0 0 #FFCACA,
			45px -45px 0 0 #FFD5D5,
			58px -24px 0 0 #FFDDDD,
			63px 0 0 0 white,
			57px 24px 0 0 #000000,
			44px 44px 0 0 #220000,
			25px 57px 0 0 #720000,
			0 63px 0 0 #A30000,
			-24px 58px 0 0 #CC0000,
			-45px 45px 0 0 #FF0000,
			-58px 24px 0 0 #FF3333,
			-65px 0 0 0 #FF5C5C,
			-58px -24px 0 0 #FF7D7D,
			-45px -45px 0 0 #FF9797,
			-25px -58px 0 0 #FFACAC;
	}
	37.5% {
		box-shadow: 0 -65px 0 0 #ffacac,
			25px -58px 0 0 #FFBDBD,
			45px -45px 0 0 #FFCACA,
			58px -24px 0 0 #FFD5D5,
			63px 0 0 0 #FFDDDD,
			57px 24px 0 0 white,
			44px 44px 0 0 #000000,
			25px 57px 0 0 #220000,
			0 63px 0 0 #720000,
			-24px 58px 0 0 #A30000,
			-45px 45px 0 0 #CC0000,
			-58px 24px 0 0 #FF0000,
			-65px 0 0 0 #FF3333,
			-58px -24px 0 0 #FF5c5c,
			-45px -45px 0 0 #FF7d7d,
			-25px -58px 0 0 #ff9797;
	}
	43.75% {
		box-shadow: 0 -65px 0 0 #ff9797,
			25px -58px 0 0 #ffacac,
			45px -45px 0 0 #FFBDBD,
			58px -24px 0 0 #FFCACA,
			63px 0 0 0 #FFd5d5,
			57px 24px 0 0 #FFdddd,
			44px 44px 0 0 white,
			25px 57px 0 0 #000000,
			0 63px 0 0 #220000,
			-24px 58px 0 0 #720000,
			-45px 45px 0 0 #A30000,
			-58px 24px 0 0 #CC0000,
			-65px 0 0 0 #FF0000,
			-58px -24px 0 0 #FF3333,
			-45px -45px 0 0 #FF5c5c,
			-25px -58px 0 0 #FF7d7d;
	}
	50% {
		box-shadow: 0 -65px 0 0 #ff7d7d,
			25px -58px 0 0 #ff9797,
			45px -45px 0 0 #ffacac,
			58px -24px 0 0 #ffbdbd,
			63px 0 0 0 #ffcaca,
			57px 24px 0 0 #ffd5d5,
			44px 44px 0 0 #ffdddd,
			25px 57px 0 0 white,
			0 63px 0 0 #000000,
			-24px 58px 0 0 #220000,
			-45px 45px 0 0 #720000,
			-58px 24px 0 0 #A30000,
			-65px 0 0 0 #CC0000,
			-58px -24px 0 0 #FF0000,
			-45px -45px 0 0 #FF3333,
			-25px -58px 0 0 #ff5c5c;
	}
	56.25% {
		box-shadow: 0 -65px 0 0 #ff5c5c,
			25px -58px 0 0 #ff7d7d,
			45px -45px 0 0 #ff9797,
			58px -24px 0 0 #ffacac,
			63px 0 0 0 #ffbdbd,
			57px 24px 0 0 #ffcaca,
			44px 44px 0 0 #ffd5d5,
			25px 57px 0 0 #FFdddd,
			0 63px 0 0 white,
			-24px 58px 0 0 #000000,
			-45px 45px 0 0 #220000,
			-58px 24px 0 0 #720000,
			-65px 0 0 0 #A30000,
			-58px -24px 0 0 #cc0000,
			-45px -45px 0 0 #ff0000,
			-25px -58px 0 0 #ff3333;
	}
	62.5% {
		box-shadow: 0 -65px 0 0 #ff3333,
			25px -58px 0 0 #ff5c5c,
			45px -45px 0 0 #ff7d7d,
			58px -24px 0 0 #ff9797,
			63px 0 0 0 #FFacac,
			57px 24px 0 0 #ffbdbd,
			44px 44px 0 0 #FFcaca,
			25px 57px 0 0 #FFd5d5,
			0 63px 0 0 #FFdddd,
			-24px 58px 0 0 white,
			-45px 45px 0 0 #000000,
			-58px 24px 0 0 #220000,
			-65px 0 0 0 #720000,
			-58px -24px 0 0 #A30000,
			-45px -45px 0 0 #cc0000,
			-25px -58px 0 0 #FF0000;
	}
	68.75% {
		box-shadow: 0 -65px 0 0 #FF0000,
			25px -58px 0 0 #ff3333,
			45px -45px 0 0 #ff5c5c,
			58px -24px 0 0 #ff7d7d,
			63px 0 0 0 #ff9797,
			57px 24px 0 0 #ffacac,
			44px 44px 0 0 #ffbdbd,
			25px 57px 0 0 #FFcaca,
			0 63px 0 0 #FFd5d5,
			-24px 58px 0 0 #FFdddd,
			-45px 45px 0 0 white,
			-58px 24px 0 0 #000000,
			-65px 0 0 0 #220000,
			-58px -24px 0 0 #720000,
			-45px -45px 0 0 #A30000,
			-25px -58px 0 0 #CC0000;
	}
	75% {
		box-shadow: 0 -65px 0 0 #CC0000,
			25px -58px 0 0 #FF0000,
			45px -45px 0 0 #FF3333,
			58px -24px 0 0 #FF5c5c,
			63px 0 0 0 #FF7d7d,
			57px 24px 0 0 #FF9797,
			44px 44px 0 0 #FFACAC,
			25px 57px 0 0 #FFbdbd,
			0 63px 0 0 #FFCACA,
			-24px 58px 0 0 #FFd5d5,
			-45px 45px 0 0 #FFdddd,
			-58px 24px 0 0 white,
			-65px 0 0 0 #000000,
			-58px -24px 0 0 #220000,
			-45px -45px 0 0 #720000,
			-25px -58px 0 0 #A30000;
	}
	81.25% {
		box-shadow: 0 -65px 0 0 #A30000,
			25px -58px 0 0 #CC0000,
			45px -45px 0 0 #FF0000,
			58px -24px 0 0 #FF3333,
			63px 0 0 0 #FF5c5c,
			57px 24px 0 0 #FF7d7d,
			44px 44px 0 0 #FF9797,
			25px 57px 0 0 #FFACAC,
			0 63px 0 0 #FFBDBD,
			-24px 58px 0 0 #FFCACA,
			-45px 45px 0 0 #FFD5D5,
			-58px 24px 0 0 #FFDDDD,
			-65px 0 0 0 white,
			-58px -24px 0 0 #000000,
			-45px -45px 0 0 #220000,
			-25px -58px 0 0 #720000;
	}
	87.5% {
		box-shadow: 0 -65px 0 0 #720000,
			25px -58px 0 0 #A30000,
			45px -45px 0 0 #CC0000,
			58px -24px 0 0 #FF0000,
			63px 0 0 0 #FF3333,
			57px 24px 0 0 #FF5c5c,
			44px 44px 0 0 #FF7d7d,
			25px 57px 0 0 #FF9797,
			0 63px 0 0 #FFACAC,
			-24px 58px 0 0 #FFBDBD,
			-45px 45px 0 0 #FFCACA,
			-58px 24px 0 0 #FFD5D5,
			-65px 0 0 0 #FFDDDD,
			-58px -24px 0 0 white,
			-45px -45px 0 0 #000000,
			-25px -58px 0 0 #220000;
	}
	93.75% {
		box-shadow: 0 -65px 0 0 #220000,
			25px -58px 0 0 #720000,
			45px -45px 0 0 #A30000,
			58px -24px 0 0 #CC0000,
			63px 0 0 0 #FF0000,
			57px 24px 0 0 #FF3333,
			44px 44px 0 0 #FF5C5C,
			25px 57px 0 0 #FF7d7d,
			0 63px 0 0 #FF9797,
			-24px 58px 0 0 #FFACAC,
			-45px 45px 0 0 #FFBDBD,
			-58px 24px 0 0 #FFCACA,
			-65px 0 0 0 #FFD5D5,
			-58px -24px 0 0 #FFDDDD,
			-45px -45px 0 0 white,
			-25px -58px 0 0 #000000;
	}
}
/* Preloader end */