.banner-section {
	padding: 40px 0;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	padding-top: 100px;
	background-position: center;
	@media (max-width: 767px){
		padding-top: 120px;
	}
	.section-wrapper {
		text-align: center;
		.logo {
			max-width: inherit;
			a {
				display: block;
				text-align: center;
				margin-bottom: 70px;
				img {
					max-width: 100%;
					position: relative;
				}
			}
		}
		.title {
			font-size: 20px;
			line-height: 1.4;
			color: #fff;
            font-weight: 700;
            @media (min-width: 400px) {
                font-size: 24px;
            }
            @media (min-width: 576px) {
                font-size: 50px;
                line-height: 65px;
            }
		}
		p {
			color: #fff;
			opacity: .8;
			font-weight: 500;
			max-width: 640px;
			margin: 0 auto;
            margin-bottom: 30px;
            @media (min-width: 576px) {
                font-size: 20px;
                line-height: 32px;
            }
            @media (min-width: 1200px) {
                margin-bottom: 17px;
            }
		}
	}
	.join-form {
		width: 100%;
		max-width: 840px;
		margin: 0 auto;
        position: relative;
        @media (min-width: 1200px) {
            transform: translateY(68px);
        }
		input[type="submit"] {
			box-shadow: none;
			transition: .4s;
			width: 100px;
			color: #fff;
			background-color: #ff0707;
			font-size: 12px;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 0;
			cursor: pointer;
			padding-left: 0;
            @media (min-width: 576px) {
                width: 192px;
                font-size: 16px;
            }
		}
		input {
			width: 100%;
			height: 40px;
			border-radius: 5px;
			padding: 12px 15px 12px 120px;
			border: 1px solid transparent;
            transition: .4s;
            @media (min-width: 576px) {
                height: 70px;
                padding-left: 210px;
            }
            @media (min-width: 1200px) {
                box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.05);
            }
			&:focus {
				border: 1px solid #B73434;
				outline: none;
			}
			&::-webkit-input-placeholder {
				color: #797979;
				font-size: 14px;
			}
			&:-ms-input-placeholder {
				color: #797979;
				font-size: 14px;
			}
			&::-ms-input-placeholder {
				color: #797979;
				font-size: 14px;
			}
			&::placeholder {
				color: #797979;
				font-size: 14px;
			}
		}
		input[type="submit"]:hover {
			opacity: .8;
		}
	}
    &.style-two{
        .section-wrapper{
            @media (min-width: 768px){
                padding: 50px 0 40px;
            }
            @media (min-width: 992px){
                padding: 60px 0 40px;
            }
            @media (min-width: 1200px){
                padding: 80px 0 20px;
            }
        }
	}
	&.landing-page{
		padding-top: 40px;
	}
}
.section-header {
	text-align: center;
    margin-bottom: 30px;
    @media (min-width: 1200px) {
        margin-bottom: 60px;
    }
	.title {
		font-size: 24px;
		line-height: 1.4;
		color: #202020;
		font-weight: 600;
		text-transform: capitalize;
        margin-bottom: 10px;
        @media(min-width: 576px) {
            font-size: 40px;
            line-height: 50px;
        }
	}
	p {
		font-size: 14px;
		color: #595959;
		line-height: 24px;
	}
	&.style-two {
		padding: 22px 0;
		background: #ff0707;
		padding: 22px 0;
		background: #ff0707;
		.title {
			color: #fff;
			margin-bottom: 0;
			color: #fff;
			margin-bottom: 0;
		}
	}
	&.style-three {
		margin-bottom: 40px;
		p {
			font-weight: 500;
			font-size: 18px;
			color: #fff;
		}
		.title {
			color: #fff;
		}
	}
}
.trusted-by-section {
	.trusted-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
        align-items: center;
        @media (min-width: 576px){
            margin: -15px;
        }
        @media (max-width: 1199px){
            justify-content: center;
        }
		li {
			padding: 15px;
            text-align: center;
            @media (min-width: 576px){
                padding: 15px;
            }
			a {
				display: inline-block;
				text-align: center;
				img {
					max-width: 100%;
					filter: grayscale(100%);
					transition: all ease 0.3s;
				}
				&:hover {
					img {
						filter: grayscale(0);
					}
				}
			}
		}
	}
	.section-header {
        @media (min-width: 1200px){
            margin-top: 10px;
        }
	}
}
.payment-system {
	overflow: hidden;
	.payment-wrapper {
		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.payment-item {
			padding: 15px;
			perspective: 1000px;
			width: 100%;
            @media (min-width: 768px){
                width: 25%;
            }
            @media (min-width: 418px) and (max-width: 767px){
				width: 50%;
			}
			.payment-flip-container{
				height: 179px;
				margin-left: auto;
				margin-right: auto;
				perspective: 1000px;
				width: 179px;
				@media (min-width: 768px) and (max-width: 991px){
					height: 163px;
					width: 163px;
				}
				.payment-flip{
					height: 100%;
					margin-left: auto;
					margin-right: auto;
					position: relative;
					text-align: center;
					transform-style: preserve-3d;
					transition: transform 0.8s;
					width: 100%;
				}
				.payment-thumb {
					background-color: white;
					backface-visibility: hidden;
					height: 100%;
					position: absolute;
					width: 100%;
					img {
						border-radius: 50%;
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
				}
				.payment-content {
					align-items: center;
					border: 3px solid #ff0707;
					border-radius: 50%;
					backface-visibility: hidden;
					display: none;
					flex-direction: row;
					height: 100%;
					justify-content: center;
					padding: 5px;
					position: absolute;
					transform: rotateY(180deg);
					width: 100%;
					span {
						text-align: center;
						display: block;
						text-transform: uppercase;
						font-size: 20px;
						@include font-Hacensaudiarabia-Bold;
					}
				}
				.payment-getway{
					border-color: #e5e5e5;
					border-radius: 5px;
					border-style: solid;
					border-width: 1px 1px 0 0;
					display: flex;
					flex-wrap: wrap;
					height: 100%;
					overflow: hidden;
					left: 0;
					position: absolute;
					top: 0;
					transform: rotateY(180deg);
					width: 100%;
					.payment-getway-item{
						align-items: center;
						background-color: white;
						border-color: #e5e5e5;
						border-style: solid;
						border-width: 0 0 1px 1px;
						display: flex;
						flex-basis: 50%;
						flex-direction: column;
						flex-grow: 0;
						flex-shrink: 0;
						height: 50%;
						justify-content: center;
						max-width: 50%;
						padding: 5px;
						img{
							display: block;
							height: auto;
							margin-left: auto;
							margin-right: auto;
							max-width: 100%;
						}
					}
					&.mobile-getway{
						.payment-getway-item{
							flex-basis: 33.3333%;
							max-width: 33.3333%;
						}
					}
				}
				&:hover{
					.payment-flip{
						transform: rotateY(180deg);
					}
				}
			}
			.payment-label{
				color: #2d2d2d;
				font-size: 20px;
				@include font-Hacensaudiarabia-Bold;
				line-height: 1;
				padding: 20px 10px;
				text-align: center;
				text-transform: uppercase;
				@media (max-width: 991px) and (min-width: 768px){
					font-size: 16px;
				}
				@media (max-width: 767px){
					font-size: 18px;
				}
			}
		}
	}
}
.get-started {
	.started-section-wrapper {
		display: flex;
		flex-wrap: wrap;
		.started-item {
			width: 100%;
            padding: 10px;
            @media (min-width: 767px){
                width: 50%;
                padding: 20px;
            }
            @media (min-width: 992px){
                width: 33.3333%;
            }
			.started-inner {
				position: relative;
				overflow: hidden;
				.started-thumb {
					border-radius: 5px;
					overflow: hidden;
					position: relative;
					&::before {
						position: absolute;
						content: "";
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: #000000;
						opacity: .6;
					}
					img {
						width: 100%;
					}
				}
				.started-content {
					text-align: center;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba(255, 7, 7, 0.7);
					border-radius: 5px;
					transition: all 0.4s ease-in-out 0s;
					overflow: hidden;
					.thumb {
						width: 75px;
						margin: 0 auto 30px;
						img {
							max-width: 100%;
						}
					}
					.sub-title {
						color: #fff;
						font-size: 22px;
					}
				}
				.started-hover-content {
					position: absolute;
					bottom: 100%;
					left: 0;
					height: 100%;
					width: 100%;
					padding: 20px 10px;
					transition: all 0.4s ease-in-out 0s;
                    @media (min-width: 576px){
                        padding: 25px;
					}
					@media (min-width: 992px) and (max-width: 1199px){
						padding: 15px;
					}
					&::-webkit-scrollbar {
						display: none;
					}
					.sub-title {
						font-size: 18px;
						position: relative;
                        padding-bottom: 15px;
                        @media (min-width: 576px){
                            font-size: 22px;
						}
						@media (min-width: 992px) and (max-width: 1199px){
							font-size: 18px;
						}
						a {
							color: #fff;
						}
						&::after {
							position: absolute;
							content: "";
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
							width: 47px;
							height: 4px;
							background-color: #fff;
						}
					}
					p {
						color: #fff;
						font-size: 14px;
						line-height: 24px;
						margin: 0;
						@media (min-width: 992px) and (max-width: 1199px){
							line-height: 20px;
						}
						@media (max-width: 374px){
							font-size: 12px;
							line-height: 20px;
						}
					}
				}
				&:hover {
					.started-content {
						top: 100%;
					}
					.started-hover-content {
						bottom: 0;
					}
				}
			}
			&.landingpage{
				.started-inner{
					&:hover{
						.started-content{
							top: 0;
						}
					}
				}
			}
		}
	}
}
.work-section {
	background: #f5f5f5;
	.work-item {
		background-color: #fff;
		box-shadow: 0 0 20px #e8e8e8;
		padding: 30px 15px;
		margin: 0 auto 30px;
		width: 100%;
		.work-thumb {
			width: 135px;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 20px;
			img {
				height: 120px;
			}
		}
		.work-content {
			.title {
				font-size: 22px;
				text-transform: capitalize;
				font-weight: 600;
				color: #252525;
				padding-bottom: 20px;
				position: relative;
				&::after {
					position: absolute;
					bottom: 0;
					left: 50%;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
					content: "";
					width: 47px;
					height: 4px;
					background: #ff0707;
				}
			}
			p {
				font-size: 14px;
				line-height: 26px;
				color: #5c5c5c;
			}
		}
	}
}
.client-section {
	.client-wrapper {
		padding: 50px 0;
        position: relative;
        @media (min-width: 576px){
            padding: 138px 0;
        }
		&::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.4);
		}
		.client-slider-wrapper {
			max-width: 800px;
			margin: 0 auto;
			background-color: #fff;
			position: relative;
			z-index: 1;
			.client-item {
				padding: 46px 10px;
				display: flex;
                flex-wrap: wrap;
                @media (min-width: 576px){
                    padding: 46px;
                }
				.client-thumb {
					width: 90px;
					height: 90px;
					border-radius: 50%;
					overflow: hidden;
                    margin: 0 auto 25px;
                    @media (min-width: 576px) {
                        width: 125px;
                        height: 125px;
                        margin: 0;
                    }
				}
				.client-content {
                    width: 100%;
                    @media (min-width: 576px){
                        width: calc(100% - 125px);
                        padding-right: 25px;
                    }
                    @media (max-width: 575px){
                        text-align: center;
                    }
					.title {
						color: #252525;
						font-size: 20px;
						margin-bottom: 3px;
					}
					.sub-title {
						font-size: 14px;
						font-weight: 300;
						display: block;
						margin-bottom: 9px;
					}
					p {
						font-size: 14px;
						line-height: 26px;
						color: #5c5c5c;
						margin: 0;
					}
				}
			}
			.carousel-inner {
				height: 245px;
				@media (max-width: 767px){
					height: auto;
				}
			}
			.nav-button {
				width: 43px;
                transform: translateX(-50%);
                @media (max-width: 575px){
                    display: none;
                }
				i {
					width: 43px;
					height: 43px;
					text-align: center;
					line-height: 43px;
					background: #ff0707;
					border-radius: 50%;
				}
				&.carousel-control-next {
					transform: translateX(50%);
				}
			}
		}
	}
}
.stay-connected {
    padding: 50px 0 55px;
    background: #1c1c1c;
    @media (min-width: 768px){
        padding: 105px 0 110px;
    }
    .join-form {
		width: 100%;
		max-width: 840px;
		margin: 0 auto;
        position: relative;
        // @media (min-width: 1200px) {
        //     transform: translateY(68px);
        // }
		input[type="submit"] {
			box-shadow: none;
			transition: .4s;
			width: 100px;
			color: #fff;
			background-color: #ff0707;
			font-size: 12px;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 0;
			cursor: pointer;
			padding-left: 0;
            @media (min-width: 576px) {
                width: 192px;
                font-size: 16px;
            }
		}
		input {
			width: 100%;
			height: 40px;
			border-radius: 5px;
			padding: 12px 15px 12px 120px;
			border: 1px solid transparent;
            transition: .4s;
            @media (min-width: 576px) {
                height: 70px;
                padding-left: 212px;
            }
            @media (min-width: 1200px) {
                box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.05);
            }
			&:focus {
				border: 1px solid #B73434;
				outline: none;
			}
			&::-webkit-input-placeholder {
				color: #797979;
				font-size: 14px;
			}
			&:-ms-input-placeholder {
				color: #797979;
				font-size: 14px;
			}
			&::-ms-input-placeholder {
				color: #797979;
				font-size: 14px;
			}
			&::placeholder {
				color: #797979;
				font-size: 14px;
			}
		}
		input[type="submit"]:hover {
			opacity: .8;
		}
	}
	.copy-right{
		margin-top: 50px;
		span{
			color: white;
			line-height: 1;
			&:not(:last-child){
				border-left: 2px solid white;
				margin-left: 10px;
				padding-left: 10px;
			}
			a{
				color: white;
				transition: all 0.3s ease-in-out 0s;
				&:hover{
					color: #ff0707;
					text-decoration: none;
				}
			}
		}
	}
}
.single-slide-item {
	height: 293px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.home-slide-active {
	.owl-dots {
		position: absolute;
		bottom: 30px;
		left: 30px;
		div {
			width: 12px;
			height: 12px;
			background: transparent;
			display: inline-block;
			border-radius: 50%;
			border: 2px solid #fff;
			margin: 0 2px;
			&.active {
				background: #fff;
			}
		}
	}
}