.all-gigs-small{
	@media (min-width: 992px){
		display: none;
	}
	.small-gigs-item{
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 15px;
		padding-bottom: 15px;
		.small-gigs-item-header{
			margin-bottom: 15px;
			.small-gigs-image{
				flex-basis: 100px;
				flex-grow: 0;
				flex-shrink: 0;
				max-width: 100px;
				img{
					border-radius: 5px;
				}
			}
			.small-gigs-content{
				flex-basis: calc(100% - 100px);
				flex-grow: 0;
				flex-shrink: 0;
				max-width: calc(100% - 100px);
				padding-right: 15px;
				.content{
					.title{
						font-size: 14px;
						margin-bottom: 10px;
						a{
							color: #353535;
							display: block;
							display: -webkit-box;
							font-size: 14px;
							@include font-Hacensaudiarabia-Regular;
							height: 48px;
							line-height: 24px;
							overflow: hidden;
							word-break: break-word;
							word-wrap: break-word;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}
					}
					.rating{
						span{
							color: #ffa320;
							font-size: 14px;
							@include font-Hacensaudiarabia-Bold;
							line-height: 24px;
							&:not(:last-child){
								margin-left: 5px;
							}
							&:last-child{
								color: #414141;
								font-size: 12px;
								@include font-Hacensaudiarabia-Regular;
								line-height: 22px;
							}
						}
					}
					.list-inline{
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 0;
                        .list-inline-item{
                            color: #3a3a3a;
                            font-size: 12px;
                            @include font-Hacensaudiarabia-Regular;
							line-height: 16px;
							@media (max-width: 374px){
								font-size: 10px;
							}
                            &:not(:last-child){
                                border-left: 1px solid #E5E5E5;
                                margin-left: 10px;
                                padding-left: 10px;
                            }
                        }
                    }
				}
				.icon{
					padding-right: 10px;
					a{
						color: #c8c8c8;
						font-size: 20px;
						line-height: 20px;
					}
					.verified-tag{
						align-items: center;
						background-color: #ff0707;
						border: 2px solid white;
						border-radius: 20px;
						color: white;
						display: flex;
						flex-direction: row;
						font-size: 12px;
						@include font-Montserrat-Semibold;
						height: 23px;
						justify-content: center;
						line-height: 1;
						padding: 3px 10px;
					}
					.dropdown{
						.dropdown-toggle{
							color: #ff0707;
							&:after{
								content: none;
							}
						}
						.dropdown-menu{
							border-color: #e5e5e5;
							border-radius: 5px;
							box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
							padding: 0;
							.dropdown-item{
								color: #3a3a3a;
								font-size: 14px;
								@include font-Hacensaudiarabia-Regular;
								line-height: 20px;
								padding: 10px 15px;
								transition: all 0.3s ease-in-out 0s;
								&:first-child{
									border-top-left-radius: 5px;
									border-top-right-radius: 5px;
								}
								&:last-child{
									border-bottom-left-radius: 5px;
									border-bottom-right-radius: 5px;
								}
								&:hover{
									background-color: #f7f7f7;
									color: #ff0707;
								}
							}
						}
					}
				}
			}
		}
		.small-gigs-item-footer{
			.small-gigs-seller{
				.user-image{
					max-width: 30px;
					position: relative;
					img{
						border-radius: 50%;
					}
				}
				.user-name{
					color: #414141;
					font-size: 12px;
					@include font-Hacensaudiarabia-Regular;
					line-height: 22px;
					padding-right: 10px;
				}
			}
			.small-gigs-pricing{
				padding-right: 15px;
				a{
					color: #353535;
					font-size: 18px;
					@include font-Hacensaudiarabia-Bold;
					line-height: 20px;
				}
			}
			.gigs-status{
				.gig-status-item{
					align-items: center;
					flex-basis: 50%;
					flex-grow: 0;
					flex-shrink: 0;
					margin-bottom: 10px;
					max-width: 50%;
					padding-left: 15px;
					padding-right: 15px;
					@media (min-width: 768px){
						flex-basis: 25%;
						max-width: 25%;;
					}
					&:not(:last-child){
						@media (min-width: 768px){
							border-left: 1px solid #e5e5e5;
						}
					}
					&:nth-child(2n+1){
						@media (max-width: 767px){
							border-left: 1px solid #e5e5e5;
						}
					}
					span{
						color: #414141;
						font-size: 20px;
						@include font-Hacensaudiarabia-Regular;
						line-height: 20px;
						@media (max-width: 374px){
							font-size: 15px;
							line-height: 15px;
						}
						&:first-child{
							color: #202020;
							@include font-Hacensaudiarabia-Bold;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
		&.limerick,
		&.selective-yellow,
		&.deep-sky-blue{
			background-color: white;
			border-color: #e5e5e5;
			border-style: solid;
			border-width: 1px 0 1px 1px;
			margin-bottom: 15px;
			padding-bottom: 5px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 15px;
			position: relative;
			&:before{
				background-color: transparent;
                content: '';
                height: 100%;
                right: 0;
                position: absolute;
                top: 0;
                width: 3px;
			}
		}
		&.limerick{
			&:before{
				background-color: #87bb17;
			}
		}
		&.selective-yellow{
			&:before{
				background-color: #ffb910;
			}
		}
		&.deep-sky-blue{
			&:before{
				background-color: #0db0e6;
			}
		}
		&.single-offer-request{
			background-color: white;
			border: 1px solid #e5e5e5;
			padding: 15px;
			.small-gigs-item-header{
				.small-gigs-content{
					.content{
						h2{
							color: #3a3a3a;
							font-size: 18px;
							@include font-Hacensaudiarabia-Bold;
							line-height: 28px;
							margin-bottom: 10px;
						}
						h3{
							margin-bottom: 0;
							span{
								color: #353535;
								display: block;
								display: -webkit-box;
								font-size: 14px;
								@include font-Hacensaudiarabia-Regular;
								height: 48px;
								line-height: 24px;
								overflow: hidden;
								word-break: break-word;
								word-wrap: break-word;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
							}
						}
					}
				}
			}
			.small-gigs-item-footer{
				.list-inline{
                    margin-bottom: 0;
                    .list-inline-item{
                        &:not(:last-child){
                            margin-left: 20px;
                            @media (max-width: 767px){
                                margin-left: 10px;
                            }
                        }
                        span{
                            color: #3a3a3a;
                            font-size: 12px;
                            @include font-Hacensaudiarabia-Regular;
                            line-height: 20px;
                            &:not(:last-child){
                                margin-left: 5px;
                            }
                            i{
                                color: #ff0707;
                                font-size: 24px;
                            }
                        }
                    }
				}
				.budget{
					span{
						@include font-Hacensaudiarabia-Bold;
						&:first-child{
							color: #353535;
							font-size: 15px;
							line-height: 25px;
						}
						&:last-child{
							color: #ff2b2b;
							font-size: 20px;
							line-height: 1;
							text-transform: uppercase;
						}
					}
				}
			}
		}
		&.small-offer-items{
			background-color: white;
			border: 1px solid #e5e5e5;
			padding: 15px;
			.small-gigs-item-header{
				.small-gigs-content{
					.content{
						.offer-item-user-image{
							border-radius: 50%;
							flex-basis: 40px;
							flex-shrink: 0;
							flex-grow: 0;
							margin-bottom: 0;
							max-width: 40px;
							overflow: hidden;
						}
						.offer-item-user-content{
							margin-bottom: 0;
							overflow: hidden;
							padding-right: 10px;
							width: 100%;
							.user-name{
								color: #414141;
								display: block;
								font-size: 15px;
								@include font-Hacensaudiarabia-Regular;
								line-height: 20px;
								margin-bottom: 10px;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								width: 100%;
							}
							a{
								span{
									color: #3a3a3a;
									font-size: 10px;
									@include font-Hacensaudiarabia-Regular;
									&:not(:last-child){
										margin-left: 6px;
									}
								}
							}
						}
					}
				}
			}
			.list-inline{
				margin-bottom: 0;
				.list-inline-item{
					margin-bottom: 10px;
					&:not(:last-child){
						margin-left: 20px;
						@media (max-width: 767px){
							margin-left: 10px;
						}
					}
					span{
						color: #3a3a3a;
						font-size: 12px;
						@include font-Hacensaudiarabia-Regular;
						line-height: 20px;
						&:not(:last-child){
							margin-left: 5px;
						}
						i{
							color: #ff0707;
							font-size: 24px;
						}
					}
				}
			}
			.small-gigs-item-footer{
				.button{
					align-items: center;
					background-color: transparent;
					border: 2px solid transparent;
					border-radius: 5px;
					color: transparent;
					display: flex;
					font-size: 11px;
					@include font-Hacensaudiarabia-Bold;
					flex-direction: row;
					height: 40px;
					justify-content: center;
					padding: 10px;
					text-align: center;
					text-transform: uppercase;
					transition: all 0.3s ease-in-out 0s;
					width: auto;
					&:not(:last-child){
						margin-left: 10px;
					}
					&.button-red{
						background-color: #ff0707;
						border-color: #ff0707;
						color: white;
					}
					&.button-transparent{
						border: none;
						color: #101010;
						height: auto;
						padding: 0;
					}
					&:hover{
						&.button-red{
							background-color: transparent;
							color: #ff0707;
						}
						&.button-transparent{
							color: #ff0707;
						}
					}
				}
			}
		}
	}
	.col-12{
		&:last-child{
			.small-gigs-item{
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
				&.limerick,
				&.selective-yellow,
				&.deep-sky-blue{
					border-bottom: 1px solid #e5e5e5;
					padding-bottom: 15px;
				}
				&.single-offer-request,
				&.small-offer-items{
					border-bottom: 1px solid #e5e5e5;
					margin-bottom: 40px;
					padding-bottom: 15px;
				}
			}
		}
	}
}
.product-single-item {
	.product-img {
		position: relative;
		img {
			width: 100%;
		}
	}
	.verified {
		position: absolute;
		left: 0;
		top: 0;
	}
	.product-text {
		padding: 15px;
		border: 1px solid #E2E2E2;
		border-top: navajowhite;
		h5 {
			font-weight: 400;
			font-size: 14px;
			color: #383838;
			margin: 15px 0;
		}
	}
	.product-author {
		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-left: 5px;
		}
		span {
			color: #434343;
			font-size: 15px;
		}
	}
	.rating {
		margin-bottom: 15px;
		span {
			color: #E5A840;
			font-size: 14px;
			&.star-count {
				color: #434343;
				font-size: 13px;
			}
		}
	}
	.product-price {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		padding-top: 15px;
		&::after {
			position: absolute;
			content: "";
			background: #E2E2E2;
			width: 113%;
			height: 1px;
			left: -15px;
			top: 0;
		}
		i {
			color: #C7C7C7;
			transform: translateY(1px);
			cursor: pointer;
			transition: .4s;
			&:hover {
				color: #D82B2B;
			}
		}
		span {
			float: right;
			color: #383838;
			font-size: 18px;
		}
	}
}