/*=========================
  Footer-area START
===========================*/
.footer-area {
	background: #222222;
	padding: 60px 0;
	.widget-item {
		h4 {
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 35px;
		}
		a {
			display: block;
			color: #9F9F9F;
			font-size: 14px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				color: #fff;
			}
		}
		p {
			color: #fff;
			font-size: 14px;
			a {
				display: inline-block;
			}
		}
		.footer-social {
			a {
				display: inline-block;
				color: #fff;
				background: #929292;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				border-radius: 5px;
				font-size: 17px;
				&:not(:last-child){
					margin-left: 10px;
				}
				&:hover {
					-webkit-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
	}
}
.copyright-area {
	background: #222222;
	padding: 50px 0;
	border-top: 1px solid #454545;
	.copyright {
		.nice-select {
			border: 1px solid #9F9F9F;
			background: transparent;
			color: #9F9F9F;
			font-weight: 600;
			font-size: 14px;
			float: inherit;
			width: auto;
			&:after{
				left: auto;
				right: 12px;
			}
			.list {
				top: auto;
				bottom: 112%;
				left: 0;
				z-index: 9;
			}
		}
		div {
			display: inline-block;
			margin-left: 5px;
			&:last-child {
				margin-left: 0;
			}
			p {
				margin-bottom: 0;
				color: #9F9F9F;
				font-size: 12px;
			}
		}
	}
	.widget-link {
		p {
			color: #9F9F9F;
			font-size: 14px;
			margin-bottom: 5px;
		}
		ul {
			li {
				display: inline-block;
				margin-right: 5px;
			}
		}
	}
}
/*=========================
  Footer-area END
===========================*/