.customer-order {
	&.modal-dialog {
		max-width: 670px;
		.modal-content {
			.modal-header {
				background-color: #ff0000;
				border-bottom: 0;
				padding: 25px 35px;
				@media (max-width: 767px){
					padding-left: 15px;
					padding-right: 15px;
				}
				.modal-title {
					font-size: 24px;
					color: #fff;
					font-weight: 600;
				}
				.closed {
					font-size: 18px;
					color: #fff;
				}
			}
			.modal-body {
				padding: 0;
			}
		}
		.customer-profile {
			padding: 15px 35px;
			border-bottom: 1px solid #d3d3d3;
			@media (max-width: 767px){
				padding-left: 15px;
				padding-right: 15px;
			}
			.profile-img {
				width: 80px;
				border-radius: 50%;
				@media (max-width: 767px){
					width: 40px;
				}
			}
			.profile-content {
				padding-right: 25px;
				@media (max-width: 767px){
					padding-right: 10px;
				}
				.profile-name {
					font-size: 15px;
					color: #353535;
					margin-bottom: 0;
					font-weight: 600;
				}
				.text {
					font-size: 14px;
					color: #3a3a3a;
					margin-bottom: 0;
				}
				.form-group{
					position: relative;
					&:before{
						background-color: white;
						border-color: #afafaf;
						border-style: solid;
						border-width: 1px 1px 0 0;
						content: '';
						height: 16px;
						right: -8px;
						position: absolute;
						top: calc(50% - 8px);
						transform: rotate(45deg);
						width: 1rem;
					}
				}
			}
		}
		.form-group{
			margin-bottom: 30px;
			padding-left: 35px;
			padding-right: 35px;
			@media (max-width: 767px){
				padding-left: 15px;
				padding-right: 15px;
			}
			&:first-child{
				padding-top: 30px;
			}
			&:not(:last-child){
				border-bottom: 1px solid #d3d3d3;
			}
			.control-label{
				color: #424242;
				display: block;
				font-size: 14px;
				line-height: 120%;
				text-transform: uppercase;
				margin-bottom: 20px;
				@media (min-width: 768px){
					align-items: center !important;
				}
				span{
					color: #424242;
					display: block;
					font-size: 14px;
					line-height: 120%;
					text-transform: uppercase;
					&:first-child{
						flex-basis: 30px;
						flex-grow: 0;
						flex-shrink: 0;
						max-width: 30px;
					}
					&:last-child{
						flex-basis: calc(100% - 30px);
						flex-grow: 0;
						flex-shrink: 0;
						max-width: calc(100% - 30px);
						padding-right: 12px;
					}
					img{
						width: 30px;
					}
				}
			}
			.bottom-label{
				.attach-file{
					label{
						cursor: pointer;
						margin-bottom: 0;
						margin-left: 12px;
						.file{
							border: 1px solid #afafaf;
							border-radius: 5px;
							padding: 10px;
							span{
								color: #3a3a3a;
								font-size: 14px;
								font-weight: 400;
								&:first-child{
									margin-left: 7px;
								}
							}
						}
					}
				}
				.max-size,
				.chars-max{
					color: #797979;
					font-size: 14px;
					font-weight: 400;
				}
			}
			.form-control{
				border: 1px solid #afafaf;
				border-radius: 5px;
				box-shadow: none;
				color: #424242;
				font-size: 14px;
				font-weight: 400;
				height: 55px;
				padding: 1rem;
				&::-webkit-input-placeholder{
					color: #797979;
					opacity: 1;
				}
				&:-webkit-input-placeholder{
					color: #797979;
					opacity: 1;
				}
				&::-moz-placeholder{
					color: #797979;
					opacity: 1;
				}
				&:-moz-placeholder{
					color: #797979;
					opacity: 1;
				}
				&::-ms-input-placeholder{
					color: #797979;
					opacity: 1;
				}
				&:-ms-input-placeholder{
					color: #797979;
					opacity: 1;
				}
			}
			textarea{
				&.form-control{
					height: auto;
				}
			}
			.nice-select{
				height: 55px;
				width: 100%;
				.current{
					line-height: 55px;
				}
				.list{
					width: 100%;
				}
			}
			.deliver-time{
				@media (max-width: 575px){
					justify-content: space-between;
				}
                .deliver-time-item{
                    background-color: white;
                    border: 1px solid #b6b6b6;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    height: 128px;
                    margin-bottom: 10px;
                    padding: 5px;
                    position: relative;
					width: 128px;
					@media (max-width: 767px){
						height: 120px;
						width: 120px;
					}
                    &:not(:last-child){
						margin-left: 25px;
						@media (max-width: 767px){
							margin-left: 15px;
						}
					}
					&:nth-child(2n+2){
						@media (max-width: 575px){
							margin-left: 0;
						}
					}
                    .deliver-time-item-content{
                        background-color: #f7f7f7;
						border-radius: 50%;
						padding: 6px;
                        position: relative;
                        width: 100%;
                        .color-icon{
                            align-items: center;
                            background-color: #cccccc;
                            border: 8px solid white;
                            border-radius: 50%;
                            display: flex;
                            height: 38px;
                            justify-content: center;
                            position: absolute;
                            right: -10px;
                            top: -10px;
                            width: 38px;
                            span{
                                color: white;
                                font-size: 20px;
                                @include font-Montserrat-Bold;
                                line-height: 20px;
                                &:first-child{
                                    display: block;
                                }
                                &:last-child{
                                    display: none;
                                }
                            }
                        }
                        .time{
                            span{
                                color: #424242;
                                @include font-Montserrat-Medium;
                                line-height: 1;
                                &:first-child{
                                    font-size: 34px;
                                    line-height: 26px;
                                    margin-right: 5px;
                                }
                                &:last-child{
                                    font-size: 16px;
                                    line-height: 13px;
                                }
                            }
                        }
                    }
                    input{
                        &[type="radio"]{
                            &:checked{
                                & + .deliver-time-item-content{
                                    background-color: #ff0707;
                                    .color-icon{
										background-color: #ff0707;
										span{
											&:first-child{
												display: none;
											}
											&:last-child{
												display: block;
											}
										}
                                    }
                                    .time{
                                        span{
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
					}
					&[for="days30"]{
                        .deliver-time-item-content{
                            .time{
                                span{
                                    font-size: 16px;
                                    line-height: 13px;
                                    margin-right: 0;
                                }
                                .input-number{
                                    background-color: #ff0707;
                                    border: none;
                                    color: white;
                                    display: none;
                                    font-size: 15px;
                                    font-weight: 600;
                                    height: 34px;
                                    padding: 6px 12px;
                                    width: 100%;
                                }
                            }
                        }
                        input{
                            &[type="radio"]{
                                &:checked{
                                    & + .deliver-time-item-content{
                                        .time{
                                            span{
                                                display: none;
                                            }
                                            .input-number{
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
			}
			.button{
				background-color: #ff0707;
				border: 2px solid #ff0707;
				border-radius: 5px;
				color: white;
				font-size: 16px;
				font-weight: 600;
				height: 60px;
				padding-left: 30px;
				padding-right: 30px;
				text-transform: uppercase;
				transition: all 0.3s ease-in-out 0s;
				width: 261px;
				@media (max-width: 575px){
					width: auto;
				}
				&:hover{
					background-color: white;
					color: #ff0707;
				}
			}
			.button-close{
				background-color: transparent;
				border: none;
				border-radius: 0;
				color: #888888;
				font-size: 16px;
				font-weight: 600;
				padding: 0;
				text-transform: uppercase;
				transition: all 0.3s ease-in-out 0s;
				&:hover{
					color: #ff0707;
				}
			}
		}
	}
}
.portfolio-modal{
	.modal-dialog{
		.modal-content{
			.modal-body{
				padding: 0;
				.close{
					align-items: center;
					background-color: #ff0707;
					border-radius: 50%;
					color: white;
					display: flex;
					flex-direction: row;
					font-size: 20px;
					height: 30px;
					justify-content: center;
					opacity: 1;
					overflow: hidden;
					padding: 5px;
					position: absolute;
					left: -14px;
					top: -14px;
					width: 30px;
				}
			}
		}
	}
}