.portfolio{
    background-color: #f7f7f7;
    padding-bottom: 60px;
    padding-top: 60px;
    .portfolio-header{
        h1{
            color: #202020;
            font-size: 40px;
            @include font-Montserrat-Semibold;
            line-height: 50px;
            margin-bottom: 20px;
            text-align: center;
        }
        p{
            color: #595959;
            font-size: 14px;
            @include font-Montserrat-Regular;
            line-height: 24px;
            margin-bottom: 60px;
            text-align: center;
        }
    }
    .portfolio-wrapper{
        background-color: white;
        border: 1px solid #e5e5e5;
        padding: 30px 30px 0;
        @media (max-width: 767px){
            padding-left: 15px;
            padding-right: 15px;
        }
        .file-upload{
            align-items: center;
            border: 2px dashed #3b3b3b;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;
            padding: 30px 15px;
            width: 100%;
            .upload-icon{
                margin-bottom: 20px;
            }
            h5{
                color: #424242;
                font-size: 14px;
                @include font-Poppins-Regular;
                line-height: 20px;
                text-transform: uppercase;
            }
            p{
                color: #343434;
                font-size: 14px;
                @include font-Montserrat-Regular;
                line-height: 24px;
                margin-bottom: 0;
            }
            .browse-button{
                align-items: center;
                background-color: #ff0707;
                border-radius: 5px;
                color: white;
                display: flex;
                flex-direction: row;
                font-size: 18px;
                @include font-Poppins-Regular;
                line-height: 20px;
                justify-content: center;
                margin-bottom: 20px;
                padding: 10px 20px;
                text-transform: uppercase;
            }
        }
        .suggestion{
            margin-bottom: 50px;
            span{
                &:first-child{
                    flex-basis: 70px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    max-width: 70px;
                }
                &:last-child{
                    color: #414141;
                    font-size: 15px;
                    @include font-Montserrat-Regular;
                    line-height: 25px;
                    padding-top: 15px;
                }
            }
        }
        .portfolio-item{
            border: 1px solid #e5e5e5;
            display: block;
            margin-bottom: 30px;
            position: relative;
            width: 100%;
            span{
                color: #414141;
                display: block;
                font-size: 15px;
                @include font-Montserrat-Regular;
                line-height: 25px;
                padding: 15px;
            }
            .close-icon{
                align-items: center;
                background-color: #ff0707;
                border-radius: 50%;
                color: white;
                display: flex;
                flex-direction: row;
                font-size: 20px;
                height: 30px;
                justify-content: center;
                overflow: hidden;
                padding: 5px;
                position: absolute;
                right: -14px;
                top: -14px;
                width: 30px;
            }
        }
    }
}