.subcategories-page {
	padding: 50px 0;
	.subcategories-title {
		margin-bottom: 40px;
		h2 {
			font-size: 35px;
			color: #202020;
		}
		p {
			color: #595959;
			font-size: 14px;
			font-weight: 400;
		}
	}
	.graphic-design-text {
		h3 {
			font-size: 25px;
			color: #3a3a3a;
		}
		a {
			display: block;
			color: #414141;
			font-size: 15px;
			padding-bottom: 10px;
			font-weight: 400;
		}
	}
	.subcategories-item {
		border: 1px solid #E3E3E3;
		margin-bottom: 15px;
		img {
			width: 100%;
		}
		a {
			p {
				color: #414141;
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 0;
				transition: .4s;
				padding: 10px;
			}
			&:hover {
				p {
					color: #D72929;
				}
			}
		}
	}
}