.user-profile {
	background: #FAFAFA;
	border: 1px solid #E4E4E4;
	padding: 30px;
	.user-image {
		position: relative;
		img {
			width: 80px;
			height: 80px;
			background: #fff;
			border-radius: 50%;
		}
		h5 {
			position: absolute;
			left: 100px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			font-size: 12px;
			font-weight: 400;
			color: #3D3D3D;
			margin-bottom: 0;
			span {
				display: block;
				font-size: 18px;
				font-weight: 500;
				margin-top: 5px;
			}
		}
	}
	.setup-accunt-progressbar {
		margin-top: 25px;
		p {
			font-size: 12px;
			color: #3D3D3D;
			margin-bottom: 8px;
		}
		.progress-bar {
			background: #FF0000;
		}
		.progress {
			border-radius: 0;
			background: transparent;
			border: 1px solid #FF0000;
			height: 20px;
		}
	}
	a {
		&.request-btn {
			display: block;
			background: #FF0000;
			margin-top: 25px;
			text-align: center;
			color: #fff;
			padding: 12px 10px;
			border-radius: 5px;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 14px;
			transition: .4s;
			&:hover {
				opacity: .8;
			}
		}
	}
}