.login-signup{
    background-color: #f7f7f7;
    padding-bottom: 50px;
    padding-top: 50px;
    .login-signup-wrapper{
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.04);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        &.login-wrapper{
            @media (min-width: 768px){
                max-width: 635px;
            }
        }
        &.signup-wrapper{
            @media (min-width: 992px){
                max-width: 960px;
            }
        }
        .login-signup-header{
            padding: 30px;
            @media (max-width: 767px){
                padding: 30px 15px;
            }
            h3{
                color: #202020;
                font-size: 24px;
                @include font-Hacensaudiarabia-Bold;
                margin-bottom: 10px;
            }
            p{
                color: #797979;
                font-size: 14px;
                @include font-Hacensaudiarabia-Regular;
                margin-bottom: 0;
                a{
                    color: #ff0707;
                    transition: all 0.3s ease-in-out 0s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .login-by-social{
            border-bottom: 1px solid #e8e8e8;
            padding: 0 30px 30px;
            @media (max-width: 767px){
                padding: 0 15px 30px;
            }
            .social-button{
                background-color: transparent;
                border-radius: 5px;
                color: white;
                height: 50px;
                transition: all 0.3s ease-in-out 0s;
                width: 260px;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                span{
                    &:first-child{
                        align-items: center;
                        display: flex;
                        flex-basis: 40px;
                        flex-grow: 0;
                        flex-shrink: 0;
                        font-size: 20px;
                        height: 50px;
                        justify-content: center;
                        max-width: 40px;
                    }
                    &:last-child{
                        align-items: center;
                        border-right: 1px solid rgba(255, 255, 255, 0.10);
                        display: flex;
                        flex-basis: calc(100% - 40px);
                        flex-grow: 0;
                        flex-shrink: 0;
                        font-size: 15px;
                        @include font-Hacensaudiarabia-Bold;
                        height: 50px;
                        justify-content: flex-start;
                        max-width: calc(100% - 40px);
                        padding-left: 13px;
                        padding-right: 15px;
                        white-space: nowrap;
                    }
                }
                &.facebook{
                    background-color: #3b5998;
                }
                &.linkedin{
                    background-color: #04669A;
                }
                &.google{
                    background-color: #C20806;
                }
                &:hover{
                    &.facebook{
                        background-color: darkgrey;
                    }
                    &.linkedin{
                        background-color: darkgrey;
                    }
                    &.google{
                        background-color: darkgrey;
                    }
                }
            }
        }
        &.login-wrapper{
            .login-by-social{
                .social-button{
                    @media (min-width: 375px){
                        width: 290px;
                    }
                    span{
                        &:last-child{
                            @media (max-width: 374px){
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        &.signup-wrapper{
            .login-by-social{
                .social-button{
                    &:not(:last-child){
                        @media (min-width: 992px){
                            margin-bottom: 0;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
        .login-with-credentials{
            padding: 30px 85px;
            @media (max-width: 767px){
                padding: 30px 15px;
            }
            .form-group{
                margin-bottom: 0;
                &:not(:last-child){
                    margin-bottom: 25px;
                }
                .control-label{
                    color: #424242;
                    font-size: 14px;
                    @include font-Hacensaudiarabia-Regular;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
                .form-control{
                    background-color: rgb(255, 255, 255);
                    border-color: rgb(175, 175, 175);
                    border-radius: 5px;
                    border-style: solid;
                    border-width: 1px;
                    border: 1px solid #afafaf;
                    box-shadow: none;
                    color: #424242;
                    font-size: 14px;
                    @include font-Hacensaudiarabia-Regular;
                    height: 60px;
                    padding: 12px 15px;
                    transition: all 0.3s ease-in-out 0s;
                    &:focus{
                        border-color: #ff0707;
                    }
                }
                .custom-control{
                    &.custom-checkbox{
                        padding-right: 28px;
                        padding-left: 0;
                        .custom-control-label{
                            color: #424242;
                            cursor: pointer;
                            font-size: 14px;
                            @include font-Hacensaudiarabia-Regular;
                            line-height: 25px;
                            text-transform: uppercase;
                            &:after,
                            &:before{
                                background-color: transparent;
                                border: 1px solid rgb(175, 175, 175);
                                border-radius: 5px;
                                box-shadow: none;
                                height: 20px;
                                outline: none;
                                top: calc(50% - 10px);
                                left: auto;
                                right: 0;
                                width: 20px;
                            }
                            a{
                                color: #ff0707;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                        .custom-control-input:checked~{
                            .custom-control-label{
                                color: #ff0707;
                                &:before{
                                    background-color: #ff0707;
                                    border-color: #ff0707;
                                }
                                &:after{
                                    border-color: #ff0707;
                                }
                            }
                        }
                    }
                    &.custom-radio{
                        margin-bottom: 25px;
                        padding-left: 0;
                        .custom-control-label{
                            align-items: center;
                            border: 1px solid #afafaf;
                            border-radius: 5px;
                            display: flex;
                            flex-direction: row;
                            height: 55px;
                            padding-right: 50px;
                            &:before{
                                background-color: white;
                                border: 1px solid #afafaf;
                                border-radius: 50%;
                                height: 20px;
                                right: 20px;
                                top: calc(50% - 10px);
                                width: 20px;
                            }
                            &:after{
                                background-color: transparent;
                                background-image: none;
                                border: 4px solid white;
                                border-radius: 50%;
                                height: 18px;
                                right: 21px;
                                top: calc(50% - 9px);
                                width: 18px;
                            }
                        }
                        .custom-control-input:checked~{
                            .custom-control-label{
                                border-color: #ff0707;
                                color: #ff0707;
                                &:before{
                                    border-color: #ff0707;
                                }
                                &:after{
                                    background-color: #ff0707;
                                }
                            }
                        }
                    }
                }
                .fogot-password{
                    color: #797979;
                    font-size: 14px;
                    @include font-Hacensaudiarabia-Regular;
                    line-height: 25px;
                    transition: all 0.3s ease-in-out 0s;
                    &:hover{
                        color: #ff0707;
                    }
                }
                .login-button{
                    background-color: rgb(255, 7, 7);
                    border: 2px solid rgb(255, 7, 7);
                    border-radius: 5px;
                    color: white;
                    font-size: 16px;
                    @include font-Hacensaudiarabia-Bold;
                    height: 60px;
                    transition: all 0.4s ease-in-out 0s;
                    text-transform: uppercase;
                    width: 100%;
                    &:hover{
                        background-color: white;
                        color: #ff0707;
                    }
                }
                p{
                    color: #8e8e8e;
                    font-size: 13px;
                    @include font-Hacensaudiarabia-Regular;
                    font-style: italic;
                    line-height: 26px;
                    margin-bottom: 0;
                    a{
                        color: #8e8e8e;
                        transition: all 0.3s ease-in-out 0s;
                        &:hover{
                            color: #ff0707;
                        }
                    }
                }
            }
        }
    }
}